<!-- Start Main Container Area -->
<div class="main-container">
    <aside id="placid-aside" class="placid-aside bg-0f1d22">
        <div class="logo">
            <a class="navbar-brand" routerLink="/home">
                <span style="color:aliceblue">Yohan</span>
                <span style="color:#c9ab81"> Brau</span>
            </a>

        </div>

        <div class="d-table">
            <div class="d-table-cell">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/home">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#about">A propos de moi</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#services">Compétences</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#portfolio">Réalisations</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="aside-footer">
            <a href="/home#contact" class="default-btn">Me contacter</a>
        </div>

        <div class="line"></div>
    </aside>

    <div id="main-content" class="main-content">

        <div class="responsive-burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <section class="blog-details-area ptb-90 bg-0f1d22">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="blog-details-desc">
                            <div class="article-image">
                                <img style="filter: brightness(0.9);" src="assets/img/competence/2nf_ea2.png" alt="image">
                            </div>

                            <div class="article-content">
                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <i class="ri-folder-2-line"></i>
                                            <span>Compétence</span>
                                            <a href="/home#services">Technique</a>
                                        </li>
                                        <li>
                                            <i class="ri-group-2-line"></i>
                                            <span>Niveau d'expertise</span>
                                            <a>Confirmé</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                                <h2 style="color:white">Java</h2>

                                <p>Java, un langage de programmation robuste et polyvalent, a été conçu par Sun Microsystems dans les années 1990, avant d’être intégré dans le giron d’Oracle Corporation. Reconnu pour sa portabilité exceptionnelle, Java permet l’exécution de code sur divers systèmes d'exploitation grâce à la Machine Virtuelle Java (JVM), une prouesse technique clé de son architecture. Ce langage se distingue par plusieurs atouts majeurs : une fiabilité éprouvée, des mesures de sécurité avancées, une simplicité d’utilisation, et des performances optimales. Ces qualités font de Java un choix privilégié pour le développement d'applications d'entreprise, de logiciels mobiles, et de solutions Web. Maîtriser Java, c'est aussi accéder à un écosystème riche en bibliothèques et frameworks, tels que Spring et Hibernate, qui renforcent l'efficacité et la qualité des développements logiciels.</p>

                            

                                <h3>Mise en oeuvre</h3>
                                <p>Durant mon quatrième semestre à <a href= "https://www.esiea.fr/">l'ESIEA</a>, j'ai eu l'opportunité enrichissante de me plonger dans le monde de Java, un tournant décisif dans mon parcours en programmation. Cette aventure a débuté avec le projet 'Cinetech', une initiative ambitieuse visant à développer une application web pour une association de cinémas itinérants dans les Landes. Ma contribution principale concernait le développement du backend en Java, un choix stratégique pour ses capacités à générer des applications à la fois robustes et performantes.</p>

                                <p>Ma mission spécifique était de concevoir des services clés pour l'application, notamment la gestion dynamique du covoiturage. Cette tâche comprenait la création de services pour récupérer, ajouter, et gérer les données de covoiturage. Au début, cette responsabilité représentait un défi de taille, étant novice en Java. Cependant, grâce à des heures de recherche et d'apprentissage autodidacte, j'ai pu surmonter les obstacles initiaux et réussir à mettre en place mon premier service fonctionnel, une réalisation significative dans mon parcours d'apprentissage.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/competence/covoit.PNG" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple d’un schéma</i></small>
                                </div>
                                <p>Plus récemment, dans le cadre du projet GECO, j'ai élargi mon expertise en utilisant des outils Java plus avancés. J'ai notamment travaillé avec l'interface DataBaseMetaData du package java.sql, un outil puissant pour interroger des bases de données. Cette interface m'a permis d'obtenir des informations détaillées sur les structures de données comme les tables, colonnes, clés primaires, clés étrangères et indices. L'usage de cette interface a été crucial pour comprendre et manipuler efficacement le schéma de la base de données, me permettant ainsi de m'adapter à des requêtes plus complexes et de m'immerger davantage dans les subtilités du langage Java.</p>


                               
                        

                                <h3>Maitrise</h3>
                                <p>Au fil de ma formation à <a href= "https://www.esiea.fr/">l'ESIEA</a> et de mes expériences professionnelles, j'ai atteint un niveau de compétence avancé en Java. Initialement, lors de mes premières interactions avec Java durant ma formation, je ne percevais pas pleinement son potentiel, étant encore en phase d'apprentissage. Cependant, cette phase initiale a jeté les bases solides nécessaires pour une progression rapide.
                                </p>
                                <p>Ma véritable montée en compétence s'est opérée durant mon alternance chez CGI, entre le 7e et le 10e semestre. Au cours de cette période, j'ai eu l'opportunité de m'immerger dans Java à travers divers projets professionnels. Ces expériences m'ont permis de renforcer mes compétences, d'affiner ma compréhension du langage et de ses applications, et de me familiariser avec ses aspects les plus complexes et nuancés. Aujourd'hui, je me considère comme un développeur Java confirmé, capable de naviguer avec aisance dans les défis techniques et de contribuer efficacement à des projets de développement logiciel de haut niveau. </p>
                                
                                <p>Ma maîtrise du langage Java s'est considérablement accrue grâce à la découverte et l'utilisation de ses bibliothèques étendues, qui simplifient grandement le travail de développement. Java possède une abondance de ressources en ligne facilitant l'apprentissage. Il est essentiel pour tout développeur logiciel d'avoir une solide connaissance de Java, étant donné son usage répandu dans le développement d'applications d'entreprise.
                                    <p>Avec l'expérience que j'ai acquise, je recommande vivement aux développeurs Java, qu'ils soient novices ou confirmés, de continuer à enrichir leurs connaissances. L'achat d'un ouvrage tel que <a href="https://www.amazon.fr/Effective-Java-Joshua-Bloch/dp/0134685997">Effective Java</a> de Joshua Bloch peut s'avérer inestimable pour approfondir votre compréhension des meilleures pratiques en Java. Parallèlement, participer à des plateformes en ligne comme <a href="https://leetcode.com/">LeetCode</a> ou <a href="https://codegym.cc/fr/">CodeGym</a> peut offrir une approche pratique et interactive pour affiner vos compétences en résolution de problèmes algorithmiques en Java.</p>
                                <h3>Évolution compétence</h3>
                                <p>Je suis actuellement désireux de perfectionner davantage mes compétences en Java à travers des projets personnels. Par exemple, je projette de développer une application de suivi des dépenses personnelles en Java, un outil personnel pour gérer mes tâches quotidiennes. Ce projet me permettra non seulement de mettre en pratique mes compétences actuelles, mais aussi d'explorer de nouvelles facettes du langage.
                                </p>
                                <p>En complément de mes projets personnels, je souhaite également participer à des conférences sur Java, comme le <a href="https://inside.java/javaone/">JavaOne</a> ou les meetups locaux de la communauté Java. Ces événements représentent une occasion idéale pour rencontrer des professionnels du secteur, échanger des idées, et s'inspirer des dernières innovations et pratiques dans le domaine. L'interaction avec d'autres passionnés de Java et l'apprentissage continu sont, à mon avis, des éléments clés pour une évolution constante dans ce domaine dynamique.</p>
                          
                            </div>

                            <div class="article-footer">
                                <div class="article-tags">
                                    <p style="font-size: 19px;">Réalisations associées</p>

                                    <a routerLink="/realisations/comptage-btob" style="color: #c9ab81;">Cinétech</a> /
                                    <a routerLink="/realisations/maestro" style="color: #c9ab81;">GECO</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-area">
            <div class="container">
                <div class="footer-content">
                    <div class="logo">
                        <a routerLink="/home-seven">
                            <img src="assets/img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="footer-contact-info">
                        <ul>
                            <li><i class="ri-map-pin-line"></i> <a href="#" target="_blank">35 Rue de Marseille, 44800
                                    Saint
                                    Herblain</a></li>
                            <li style="padding-right: 0;"><i class="ri-phone-line"></i> <a href="tel:+33778245715">07 78
                                    24 57
                                    15</a></li>
                            <li style="padding-left: 35px;"><i class="ri-mail-line"></i> <a href="mailto:kevinbrau.pro@gmail.com">kevinbrau.pro@gmail.com</a></li>
                        </ul>
                    </div>

                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/kevin-brau-899a2617a/" target="_blank">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <p>Copyright <i class="ri-copyright-line"></i>2021 Placid. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>

                <div class="line"></div>
            </div>
        </footer>
    </div>
</div>
<!-- End Main Container Area -->