<!-- Start Main Container Area -->
<div class="main-container">
    <aside id="placid-aside" class="placid-aside bg-0f1d22">
        <div class="logo">
            <a class="navbar-brand" routerLink="/home">
                <span style="color:aliceblue">Yohan</span>
                <span style="color:#c9ab81"> Brau</span>
            </a>

        </div>

        <div class="d-table">
            <div class="d-table-cell">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/home">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#about">A propos de moi</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#services">Compétences</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#portfolio">Réalisations</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="aside-footer">
            <a href="/home#contact" class="default-btn">Me contacter</a>
        </div>

        <div class="line"></div>
    </aside>

    <div id="main-content" class="main-content">

        <div class="responsive-burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <section class="blog-details-area ptb-90 bg-0f1d22">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="blog-details-desc">
                            <div class="article-image">
                                <img style="filter: brightness(0.9);" src="assets/img/competence/veille.jpg" alt="image">
                            </div>

                            <div class="article-content">
                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <i class="ri-folder-2-line"></i>
                                            <span>Compétence</span>
                                            <a href="/home#services">Humaine</a>
                                        </li>
                                        <li>
                                            <i class="ri-group-2-line"></i>
                                            <span>Niveau d'expertise</span>
                                            <a>Confirmé</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                                <h2 style="color:white">Veille technologique</h2>

                                <p>La veille technologique en informatique est un processus essentiel permettant aux professionnels, entreprises et chercheurs du domaine de se tenir informés des dernières avancées, tendances, outils, produits et réglementations qui influencent le secteur informatique. Ce processus vise à capturer, analyser et exploiter les informations relatives aux inovations technologiques spécifiques à l'informatique, telles que les nouveaux langages de programmation, les architectures de systèmes, les méthodologies de développement logiciel, les avancées en matière de sécurité informatique, et les tendances en cloud computing, intelligence artificielle, et bien d'autres domaines connexes.
                                </p>
                                <p>L'objectif de la veille technologique en informatique est de fournir une base de connaissances qui aide à la prise de décisions éclairées concernant la direction technologique, le développement de nouveaux produits ou services, l'amélioration des processus internes, ou encore l'identification de potentiels partenariats stratégiques. Elle permet également d'anticiper les évolutions du marché, de se préparer à des changements réglementaires, d'éviter l'obsolescence des technologies employées, et de stimuler l'inovation au sein de l'organisation.</p>
                               
                                <p>Pour réaliser cette veille, les professionnels s'appuient sur une multitude de sources d'information, comme les publications spécialisées, les brevets, les contributions dans les conférences et forums professionnels, les sites web dédiés à la technologie, les blogs d'experts, et les réseaux sociaux. L'utilisation de logiciels spécialisés et d'outils de recherche avancés facilite grandement la collecte et l'analyse des données pertinentes, rendant le processus plus efficace et moins chronophage.</p>
                                <h3>Mise en oeuvre</h3>
                                <p>Au cours de ma formation au sein de l'école <a href="https://www.esiea.fr/">ESIEA</a>, j'ai eu l'opportunité d'approfondir mes compétences en matière de veille technologique. Ce processus éducatif m'a permis d'explorer et d'utiliser une diversité d'outils spécifiques tels que les <a href="https://fr.wikipedia.org/wiki/M%C3%A9tamoteur">métamoteurs</a>, les <a href="https://bu.univ-amu.libguides.com/c.php?g=511706&p=3496940">agrégateurs de flux RSS</a>, les forums en ligne et les gestionnaires de favoris. Le projet assigné consistait à rester informé des dernières avancées en intelligence artificielle, plus spécifiquement dans le secteur de la vision par ordinateur. Cette tâche, réalisée en équipe, m'a permis de proposer l'utilisation de Netvibes comme notre agrégateur de flux RSS de prédilection. Cet outil s'est avéré précieux pour suivre au quotidien les publications et articles pertinents liés à la vision par ordinateur.</p>
                                <p>Pour notre veille, les forums <a href="https://www.developpez.com/">developpez.com</a> et <a href="https://pytorch.org/">pyTorch.org</a> se sont révélés être des ressources inestimables. PyTorch.org, en particulier, s'est distingué comme une référence essentielle dans l'univers de l'intelligence artificielle, offrant un accès direct aux dernières recherches, discussions et inovations dans le domaine.</p>
                                <p>La pratique de la veille technologique s'est avérée être un levier puissant pour approfondir mes connaissances, découvrir des inovations ou simplement rester informé des dernières tendances et nouveautés relatives à un sujet donné. Ce processus continu d'apprentissage et de découverte est non seulement enrichissant sur le plan personnel mais s'avère également essentiel dans le cadre professionnel, où la capacité à rester à la pointe de la technologie constitue un atout indéniable.</p>
                                

                                <h3>Maîtrise</h3>
                                <p>Dès l'âge de 12 ans, période marquante où j'ai fait mes premiers pas sur un ordinateur, j'ai été ébloui par l'immensité d'Internet et la richesse d'informations qu'il offrait. Depuis ce moment, chaque fois qu'une question surgit et que je ne détiens pas la réponse, je me tourne instinctivement vers une recherche en ligne, privilégiant généralement Google, pour éclaircir mes interrogations. Dans le dynamique et exigeant univers de l'informatique, où l'inovation et le changement sont les seules constantes, cultiver une passion et une curiosité sans borne pour les nouvelles technologies est essentiel. .
                                </p>
                                <p>Si vous aspirez à vous lancer ou à vous perfectionner dans ce domaine, comprendre l'importance de rester informé des dernières tendances, des besoins du marché et des avancées technologiques s'avère crucial. La veille technologique, l'attention portée aux actualités et aux inovations, ne sont pas de simples tâches supplémentaires elles constituent le cœur même de la profession informatique.</p>
                                <p>Je suis pleinement conscient des défis posés par ce secteur, notamment la nécessité de se tenir continuellement à jour avec les nouvelles technologies. Grâce à une capacité innée à rester curieux, à toujours questionner le "pourquoi" et le "comment", j'ai développé une aptitude naturelle à effectuer une veille technologique efficace. Cette quête incessante de connaissance est, à mon avis, une qualité indispensable pour tout professionnel de l'informatique désireux de rester pertinent et compétitif.</p>
                                <p>Pour les développeurs, l'évolution est non seulement une opportunité mais une obligation. Lorsqu'une nouvelle technologie émerge, offrant des solutions plus efficaces ou adaptées à la réalisation de projets, il est impératif de s'y intéresser de près. Cela signifie aller au-delà de la simple familiarisation, il s'agit de s'immerger dans l'apprentissage et l'application de ces nouvelles technologies pour enrichir et diversifier ses compétences.</p>
                                <p>Se former en continu est donc le maître-mot. Prendre les devants en s'auto-formant, participer à des <a href="https://www.digiforma.com/definition/webinaire/">webinaires</a>, lire les publications les plus récentes, s'engager dans des communautés de pratiques, ou encore suivre des formations professionnelles, sont autant de moyens de ne pas seulement suivre le rythme, mais de le définir. L'auto-formation est une démarche proactive qui démontre non seulement un engagement envers son développement professionnel mais aussi une capacité à anticiper et à s'adapter aux évolutions futures du secteur.</p>
                                
                                <h3>Évolution compétence</h3>
                                <p>La pratique de la veille technologique, bien qu'essentielle dans le domaine de l'informatique, n'est pas toujours une habitude quotidienne pour tout le monde. Reconnaissant cette lacune dans ma routine personnelle, j'ai décidé de prendre une mesure proactive pour intégrer cette discipline essentielle à mon quotidien, en particulier là où je passe déjà une quantité significative de temps sur les réseaux sociaux.</p>
                               <p>En m'abonnant à des pages et des comptes spécialisés dans les actualités technologiques, j'ai transformé mes flux de réseaux sociaux en puissantes sources d'informations. Ces comptes relayent des informations cruciales sur les derniers outils, technologies émergentes, mises à jour de logiciels, et tendances du secteur, me permettant ainsi de rester informé sans devoir modifier radicalement mes habitudes de consommation de médias.</p>
                            </div>

                            <div class="article-footer">
                                <div class="article-tags">
                                    <p style="font-size: 19px;">Réalisations associées</p>

                                    <a routerLink="/realisations/tenue-de-compte" style="color: #c9ab81;">Comptage-BTOB</a> /
                                    <a routerLink="/realisations/fast" style="color: #c9ab81;">FAST</a> /
                                    <a routerLink="/realisations/geco" style="color: #c9ab81;">E-pop</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-area">
            <div class="container">
                <div class="footer-content">
                    <div class="logo">
                        <a routerLink="/home-seven">
                            <img src="assets/img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="footer-contact-info">
                        <ul>
                            <li><i class="ri-map-pin-line"></i> <a href="#" target="_blank">35 Rue de Marseille, 44800
                                    Saint
                                    Herblain</a></li>
                            <li style="padding-right: 0;"><i class="ri-phone-line"></i> <a href="tel:+33778245715">07 78
                                    24 57
                                    15</a></li>
                            <li style="padding-left: 35px;"><i class="ri-mail-line"></i> <a href="mailto:Yohanbrau.pro@gmail.com">Yohanbrau.pro@gmail.com</a></li>
                        </ul>
                    </div>

                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/Yohan-brau-899a2617a/" target="_blank">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <p>Copyright <i class="ri-copyright-line"></i>2021 Placid. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>

                <div class="line"></div>
            </div>
        </footer>
    </div>
</div>
<!-- End Main Container Area -->