<!-- Start Main Container Area -->
<div class="main-container">
    <aside id="placid-aside" class="placid-aside bg-0f1d22">
        <div class="logo">
            <a class="navbar-brand" routerLink="/home">
                <span style="color:aliceblue">Yohan</span>
                <span style="color:#c9ab81"> Brau</span>
            </a>

        </div>

        <div class="d-table">
            <div class="d-table-cell">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/home">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#about">A propos de moi</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#services">Compétences</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#portfolio">Réalisations</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="aside-footer">
            <a href="/home#contact" class="default-btn">Me contacter</a>
        </div>

        <div class="line"></div>
    </aside>

    <div id="main-content" class="main-content">

        <div class="responsive-burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <section class="blog-details-area ptb-90 bg-0f1d22">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="blog-details-desc">
                            <div class="article-image">
                                <img style="filter: brightness(0.9);*width: 78%;" src="assets/img/realisation/matmoica.png" alt="image">
                            </div>

                            <div class="article-content">

                                <h2 style="color:white">Mat'moi ça</h2>

                                <p>Dans le cadre de ma formation, le projet "Mat' moi ça" a été conçu pour répondre aux exigences académiques du quatrième semestre, une période où chaque étudiant doit mener à bien un projet technique et un projet de formation humaine.
                                </p>
                                <p> Les thèmes de ces projets varient à chaque semestre; pour ce semestre précis, notre mission était d'organiser un événement destiné à collecter des fonds pour une cause caritative.
                                </p>

                                <h3>Contexte</h3>

                                <p>Au sein de l'équipe, j'ai occupé le rôle de secrétaire. L'initiative du projet "Mat' moi ça" est née de l'une de nos discussions, et j'ai été particulièrement attiré par l'idée en raison de mon intérêt croissant pour les échecs, combiné à l'attrait d'une action bénéfique. Cette combinaison a fait du projet une opportunité parfaitement alignée avec mes aspirations personnelles et professionnelles.

                                
                                <p>Le projet a pris la forme d'un tournoi d'échecs en ligne caritatif, orchestré en partenariat avec Chess.com et l'UNICEF. Grâce à Chess.com, leader mondial des plateformes d'échecs en ligne, nous avons pu proposer un environnement idéal pour notre tournoi. Le partenariat avec l'UNICEF a, quant à lui, souligné notre engagement envers un objectif humanitaire majeur : le soutien aux enfants défavorisés à travers le monde.
                                </p>
                               
                               

                                <h3>Mise en oeuvre</h3>
                                <p>Au début de notre projet, nous avons pris soin de définir clairement les règles du tournoi et les conditions de participation pour garantir une collecte de fonds efficace et une expérience utilisateur de qualité. En raison des restrictions de la pandémie de COVID-19, nous avons choisi d'organiser le tournoi en ligne, une mesure qui s'est révélée bénéfique non seulement pour des raisons de sécurité sanitaire, mais aussi pour faciliter l'accès et maximiser le nombre de participants.

                                </p>
                                <h3>Partenariats et gestion du projet "Mat' moi ça"
                                </h3>
                                <p>Nous avons établi des partenariats essentiels pour le succès du projet, notamment avec Chess.com et l'UNICEF France. Chess.com a non seulement accueilli le tournoi sur leur plateforme mais a également pris en charge sa promotion et fourni des lots sous forme d'abonnements premium. L'UNICEF France, de son côté, a été choisi pour recevoir les fonds collectés, renforçant ainsi l'aspect caritatif de notre initiative.

                                </p>
                                <p>La promotion active de Chess.com sur leur page Facebook et leur page d'accueil a joué un rôle crucial dans l'accroissement de la visibilité de l'événement. Cela a non seulement attiré un grand nombre de participants mais a également capté l'attention de la Fédération Française des Échecs, qui a relayé l'information sur nos réseaux sociaux officiels, élargissant notre audience et augmentant la crédibilité de l'événement. D'autres pages Facebook dédiées aux échecs ont également contribué à cette visibilité accrue.</p>
                                <h3>Gestion financière et transparence

                                </h3>
                                

                                <p>Pour gérer efficacement le budget, nous avons créé un plan de trésorerie détaillé sous forme de fichier Excel. Ce document, qui catégorisait les dépenses et les revenus, nous a permis de suivre et d'analyser toutes les transactions financières avec précision. Cette rigueur dans le suivi nous a aidés à contrôler étroitement le budget, à identifier rapidement les écarts par rapport aux prévisions et à prendre des décisions éclairées concernant l'utilisation des ressources. Chaque dépense a été soigneusement scrutée et validée par l'équipe pour maximiser l'impact de chaque euro dépensé.

                                </p>
                                
                                <p>Nous avons veillé à ce que la transparence soit au cœur de notre gestion financière, en informant régulièrement toutes les parties prenantes, y compris les partenaires et les participants, sur l'utilisation des fonds. Des rapports détaillés fournis par l'UNICEF ont renforcé la confiance en notre gestion et ont souligné notre engagement envers la responsabilité et l'intégrité.

                                </p>
                                <h3>Mon rôle spécifique dans le projet
                                </h3>
                                
                                <p>Mon rôle a été de créer et de gérer la cagnotte sur la plateforme Leetchi, qui a été un outil bénéfique tout au long du projet. Bien que nous n'ayons collecté que 100 euros, montant inférieur à notre objectif initial, nous étions heureux de contribuer à l'effort global en soutenant l'UNICEF.

                                </p>
                            
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/cagnotte.png" alt="image">

                                </div>
                                <p>Avec l'aide des secrétaires du projet, j'ai également participé à l'élaboration d'un planning éditorial qui a orienté notre communication. Ce planning a défini les dates et le contexte des publications sur nos réseaux sociaux, Twitter et Facebook, fournissant ainsi une base solide pour ceux chargés de communiquer sur le tournoi.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/planning.png" alt="image">

                                </div>
                                <h3>Les résultats</h3>
                                <p>Le projet "Mat' moi ça" a été mené avec enthousiasme et rigueur, mais n'a malheureusement pas atteint les objectifs de collecte de fonds que nous nous étions fixés. Initialement, nous espérions récolter 500 euros pour l'UNICEF, mais nous avons seulement réussi à collecter 100 euros. La principale cause de cet écart réside dans le faible nombre de participants, le tournoi ayant attiré seulement 8 joueurs.
                                </p>


                         
                                <p>La date de l'événement a significativement influencé la participation. Organisé à la fin du confinement et au début de l'été, le tournoi a dû faire face à la concurrence d'autres activités récréatives, rendues à nouveau possibles par l'assouplissement des mesures sanitaires. </p>
                                <p>Malgré notre anticipation de cet obstacle, le cadre académique du projet nous obligeait à maintenir cette période pour l'organisation et l'évaluation du tournoi, ce qui a limité notre flexibilité.
                                </p>

                         
                                <p>En tant que chef de projet, j’ai appris à communiquer professionnellement avec les différents acteurs du projet pour organiser des réunions avec l’équipe. Ces réunions ont été mises en place chaque semaine pour pouvoir
                                    faire un état de l’avancement du projet.
                                </p>
                    
                                <h3> Auto critique</h3>
                                <p>En réfléchissant au projet "Mat' moi ça", il est clair que, bien que nous n'ayons pas atteint tous les objectifs prévus, cette expérience a été extrêmement formatrice.
                                </p>
                                <p>Le principal défi rencontré a été la planification du tournoi durant une période complexe : la fin du confinement et le début de l'été. Ces circonstances ont vraisemblablement réduit l'intérêt et la disponibilité de notre public cible, impactant directement le nombre de participants. En outre, nous avons identifié que notre approche en matière de marketing et de communication aurait bénéficié d'une stratégie plus développée et mieux ciblée, permettant de mieux capter et engager notre audience.

                                </p>
                                <p>Cependant, il est essentiel de ne pas voir "Mat' moi ça" comme un échec, mais plutôt comme une opportunité d'apprentissage. Il est important de souligner les aspects positifs, notamment notre partenariat efficace avec Chess.com et l'UNICEF, qui ont contribué au succès des aspects qu'ils couvraient. Cette expérience a renforcé notre compréhension de l'importance de l'adaptabilité et de la précision dans la stratégie de communication, des leçons que nous porterons dans nos futurs projets.
                                </p>
                            </div>

                            <div class="article-footer">
                                <div class="article-tags">
                                    <p style="font-size: 19px;">Compétences associées</p>

                                    <a routerLink="/competences/esprit-equipe" style="color: #c9ab81;">L'esprit d'équipe</a> /
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-area">
            <div class="container">
                <div class="footer-content">
                    <div class="logo">
                        <a routerLink="/home-seven">
                            <img src="assets/img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="footer-contact-info">
                        <ul>
                            <li><i class="ri-map-pin-line"></i> <a href="#" target="_blank">35 Rue de Marseille, 44800
                                    Saint
                                    Herblain</a></li>
                            <li style="padding-right: 0;"><i class="ri-phone-line"></i> <a href="tel:+33778245715">07 78
                                    24 57
                                    15</a></li>
                            <li style="padding-left: 35px;"><i class="ri-mail-line"></i> <a href="mailto:Yohanbrau.pro@gmail.com">Yohanbrau.pro@gmail.com</a></li>
                        </ul>
                    </div>

                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/Yohan-brau-899a2617a/" target="_blank">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <p>Copyright <i class="ri-copyright-line"></i>2021 Placid. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>

                <div class="line"></div>
            </div>
        </footer>
    </div>
</div>
<!-- End Main Container Area -->