<!-- Start Main Container Area -->
<div class="main-container">
    <aside id="placid-aside" class="placid-aside bg-0f1d22">
        <div class="logo">
            <a class="navbar-brand" routerLink="/home">
                <span style="color:aliceblue">Yohan</span>
                <span style="color:#c9ab81"> Brau</span>
            </a>

        </div>

        <div class="d-table">
            <div class="d-table-cell">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/home">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#about">A propos de moi</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#services">Compétences</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#portfolio">Réalisations</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="aside-footer">
            <a href="/home#contact" class="default-btn">Me contacter</a>
        </div>

        <div class="line"></div>
    </aside>

    <div id="main-content" class="main-content">

        <div class="responsive-burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <section class="blog-details-area ptb-90 bg-0f1d22">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="blog-details-desc">
                            <div class="article-image">
                                <img style="filter: brightness(0.9);" src="assets/img/competence/arton108286.png" alt="image">
                            </div>

                            <div class="article-content">
                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <i class="ri-folder-2-line"></i>
                                            <span>Compétence</span>
                                            <a href="/home#services">Humaine</a>
                                        </li>
                                        <li>
                                            <i class="ri-group-2-line"></i>
                                            <span>Niveau d'expertise</span>
                                            <a>Confirmé</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                                <h2 style="color:white">Habilités en communication orale</h2>

                                <p>Une habilité en communication orale se traduit par le fait de savoir s’exprimer de manière aisée tout en adaptant son discours à son interlocuteur. Le niveau de connaissance de son interlocuteur peut varier. Il est donc
                                    important de savoir vulgariser son discours pour que le public puisse comprendre sans difficultés. Pour pouvoir vulgariser ses propos il existe plusieurs étapes.
                                </p>
                                <ul class="features-list">
                                    <li><i class="ri-check-double-fill"></i> <u>Miser sur la clarté</u> : Quand on s’adresse à un public qui n’en connaît pas autant que nous sur un sujet particulier, il est important d’être vigilant avec les mots techniques.
                                        Il faut donc employer des mots simples pour la compréhension.</li>
                                    <li><i class="ri-check-double-fill"></i> <u>Créer une connexion avec son public</u> : Pour faire passer un message à son auditoire, il est parfois nécessaire de capter l’attention de son public. Pour ce faire on peut par
                                        exemple faire rire ou épater, ce qui va créer un lien entre le public et notre discours.</li>
                                    <li><i class="ri-check-double-fill"></i> <u>Être concret</u> : Dans le but de vulgariser ses propos, il est important de d’éviter au maximum d’être abstrait. Pour ce faire, il est conseillé présenter des maquettes ou des
                                        réalisations pour appuyer nos propos.</li>
                                </ul>
                                <p>En plus de vulgariser, la gestuelle est importante pendant une présentation orale. Le geste permet de souligner et ponctuer ses propos. Il rend la présentation plus vivante et attire l’attention. Il est donc préférable
                                    d’atténuer toutes sortes de tics et de rester naturel.</p>
                                <p>Aujourd’hui il est important de s’exprimer de manière aisée pour un ingénieur. Les entreprises attendent qu’un ingénieur puisse présenter ses travaux de façon claire et précise. En plus de ça lors des réunions, l’ingénieur
                                    se doit d’apporter son expertise en vulgarisant ses propos.</p>
                                <p>On peut citer par exemple <b>Capgemini</b> qui attend de ses collaborateurs une habilité à s’exprimer oralement devant des clients pour renvoyer une bonne image ou pour présenter des projets de manière claire.</p>

                                <h3>Mise en oeuvre</h3>
                                <p>Pendant mon cursus scolaire au sein du <b>groupe AEN</b>, j’ai eu l’opportunité de présenter le projet <u><a href="/realisations/e-pop">E-pop</a></u> devant 300 personnes dans le cadre du <u>festival des cultures urbaines</u>                                    à Dax. Pour ce faire, accompagné de mes camarades de projet, on se devait de préparer la présentation orale en adaptant notre discours puisque nous avions principalement comme public, des enfants et des parents. Pour
                                    la présentation, nous étions installés au milieu de la salle avec le public autour de nous en 360 degrés. Cette disposition était assez déconcertante et a rendu l’exercice difficile. Mais pour pallier à ça je n’ai pas
                                    hésité créer des liens avec le public lors de la démonstration de l’application en leur posant des questions pour susciter et capter leur attention. Après la présentation, beaucoup de jeunes, étant intéressé par l’application,
                                    nous ont demandé plus de détails pour qu’ils puissent eux aussi utiliser l’outil pour leurs futures compétitions de danse.
                                </p>

                                <h3>Maitrise</h3>
                                <p>Pour l’habilité en communication orale j’estime être <u>confirmé</u>.
                                </p>
                                <p>Étant une personne de nature timide, je n’arrivais pas forcément à m’exprimer de façon claire devant le public. Mais pendant mon cursus scolaire au groupe AEN j’ai pu développer mon habilité en communication orale de par
                                    les nombreuses présentations que j’ai réalisées devant un nombre important de personnes.</p>
                                <p>Le développement de cette compétence me permet de m’exprimer de manière aisée dans un milieu professionnel sans difficulté.
                                </p>
                                <p>Le fait de s’exprimer avec aisance dans un milieu professionnel est important puisqu’il donne la possibilité de se démarquer et de donner une bonne impression de soi. Aujourd’hui sur mon lieu de travail je me dois de justifier
                                    et démontrer mes travaux lors de mes présentations que je réalise avec aisance de par l’expertise que j’ai pu développer au cours de mes années de formations au groupe AEN. </p>
                                <p>Avec l’expérience que j’ai aujourd’hui, je conseille à toute personne voulant s’essayer à l’exercice de présenter un projet, de maîtriser son sujet. Cela permet de présenter avec clarté et d’éviter d’avoir des trous de
                                    mémoire. En plus de ça il est important de capter l’attention de son auditoire pour rendre vivante sa présentation. Et enfin réduire au maximum les tics gestuels ou vocaux. </p>

                                <h3>Évolution compétence</h3>
                                <p>Le fait d’être habile en communication orale est très important pour moi puisqu’il me permet de me démarquer et de justifier mon travail auprès de mon interlocuteur. C’est pourquoi je souhaiterais dans un futur proche superviser
                                    une réunion dans le but d’améliorer mon expertise à ce sujet.
                                </p>
                                <p><b>Capgemini</b> propose des formations gratuites pour améliorer sa communication orale et sa pertinence. C’est pourquoi je vais assister à la formation « RÉUSSIR SES PRISES DE PAROLE » qui est pour tout public. Lien de
                                    la formation : <u><a href="https://capgemini-engineering.com/fr/fr/event_formation/reussir-ses-prises-de-parole/">capgemini-engineering</a></u></p>
                            </div>

                            <div class="article-footer">
                                <div class="article-tags">
                                    <p style="font-size: 19px;">Réalisations associées</p>

                                    <a routerLink="/realisations/e-pop" style="color: #c9ab81;">E-pop</a> /
                                    <a routerLink="/realisations/bud-jet" style="color: #c9ab81;">Bud'jet</a> /
                                    <a routerLink="/realisations/fast" style="color: #c9ab81;">FAST</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-area">
            <div class="container">
                <div class="footer-content">
                    <div class="logo">
                        <a routerLink="/home-seven">
                            <img src="assets/img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="footer-contact-info">
                        <ul>
                            <li><i class="ri-map-pin-line"></i> <a href="#" target="_blank">35 Rue de Marseille, 44800
                                    Saint
                                    Herblain</a></li>
                            <li style="padding-right: 0;"><i class="ri-phone-line"></i> <a href="tel:+33778245715">07 78
                                    24 57
                                    15</a></li>
                            <li style="padding-left: 35px;"><i class="ri-mail-line"></i> <a href="mailto:Yohanbrau.pro@gmail.com">Yohanbrau.pro@gmail.com</a></li>
                        </ul>
                    </div>

                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/Yohan-brau-899a2617a/" target="_blank">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <p>Copyright <i class="ri-copyright-line"></i>2021 Placid. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>

                <div class="line"></div>
            </div>
        </footer>
    </div>
</div>
<!-- End Main Container Area -->