<!-- Start Main Container Area -->
<div class="main-container">
    <aside id="placid-aside" class="placid-aside bg-0f1d22">
        <div class="logo">
            <a class="navbar-brand" routerLink="/home">
                <span style="color:aliceblue">Yohan</span>
                <span style="color:#c9ab81"> Brau</span>
            </a>

        </div>

        <div class="d-table">
            <div class="d-table-cell">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/home">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#about">A propos de moi</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#services">Compétences</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#portfolio">Réalisations</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="aside-footer">
            <a href="/home#contact" class="default-btn">Me contacter</a>
        </div>

        <div class="line"></div>
    </aside>

    <div id="main-content" class="main-content">

        <div class="responsive-burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <section class="blog-details-area ptb-90 bg-0f1d22">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="blog-details-desc">
                            <div class="article-image">
                                <img style="filter: brightness(0.9);*width: 78%;" src="assets/img/works/img1.jpg" alt="image">
                            </div>

                            <div class="article-content">

                                <h2 style="color:white">Tenue de compte</h2>

                                <p>Lors de mon stage chez CGI, j'ai eu l'opportunité précieuse de contribuer au sein de l'équipe tenue de comptes, un projet d'envergure collaborant étroitement avec une banque cliente de renom. Ce projet, riche d'une histoire et d'une évolution marquées par le temps, repose sur une technologie de pointe bien que traditionnelle le cobol et le mainframe.
                                </p>
                                <p>Notre mission principale était axée sur le développement et l'implémentation de fonctionnalités sur mesure destinées aux compte chèque entreprise des personnes morales. L'objectif est de révolutionner l’expérience utilisateur en simplifiant et optimisant la gestion globale de ces comptes au sein de notre application.</p>

                                <h3>Contexte</h3>

                                <p>En mars 2022, j'ai eu le privilège de débuter un stage de six mois au sein de l'équipe "Tenue de compte" chez CGI, un leader reconnu dans le domaine des services en technologies de l'information. Cette expérience m'a permis de plonger au cœur du développement logiciel, où ma mission principale consistait à concevoir et à implémenter de nouveaux programmes, ainsi qu'à enrichir des programmes existants pour répondre aux divers besoins opérationnels et stratégiques de nos clients. Ce défi exigeait non seulement une compréhension profonde des exigences client, mais aussi une aptitude à les transformer en solutions logicielles performantes et fiables.
                                </p>

                                <p>L’objectif du projet était de proposer aux utilisateurs un outil rapide, fiable et attrayant. Une rapidité dans l’affichage des résultats permet de se démarquer des outils concurrents puisque l’exécution d’un comptage peut
                                    s’avérer long suivant les critères choisis. De plus, il est important de garder des données fiables et à jour pour garantir une confiance auprès des utilisateurs. Pour rendre l’outil agréable à l’utilisation, AgenceMD
                                    a choisi de porter une attention particulière à l’esthétique de l’application.
                                </p>
                                <p>Un aspect crucial de mon rôle a été la réalisation de tests unitaires rigoureux pour chaque modification ou développement de programme. Ces tests, essentiels à la garantie de la qualité et de la performance des solutions délivrées, m'ont enseigné l'importance d'une méthodologie minutieuse et d'une attention soutenue aux détails, compétences fondamentales en développement logiciel.</p>
                                <p>Le processus de développement au sein de l'équipe adopte le cycle en V, une méthode qui commence par la collecte précise des besoins du client, suivie de la rédaction d'un cahier des charges. Les analystes élaborent ensuite un "Dossier de Conception Générale", sous forme d'organigrammes et de descriptions détaillées, qui, une fois validé par le client, se transforme en "Dossier de Conception Détaillée". Ce dernier fournit toutes les informations nécessaires au développement efficace du projet. La validation finale intervient après une série de tests rigoureux, l'approbation du client, et la mise en production.</p>
                                <h3>Architecture du projet</h3>
                                <p>Au cours de mon stage de six mois débuté en mars 2022 dans l'équipe "Tenue de compte" chez CGI, j'ai été impliqué dans le développement et l'amélioration de trois applications distinctes, toutes conçues pour interagir et enrichir l'application mère "MA", gérée par une autre ESN. Mon rôle principal consistait à concevoir de nouveaux programmes ou à faire évoluer des programmes existants pour ces projets variés, en plus de mener des tests unitaires sur les modifications apportées.</p>
                                <p>Ce modèle de cycle en V se distingue par sa capacité à offrir une vue d'ensemble du projet dès le début et sa flexibilité à revenir sur les étapes précédentes si nécessaire, contrairement à d'autres méthodologies comme le modèle en cascade. L'utilisation de cette méthode par CGI souligne un engagement envers l'excellence opérationnelle et la satisfaction client, tout en offrant aux développeurs comme moi un cadre structuré pour l'inovation et la créativité.</p>
                                <ul class="features-list">
                                <li><i class="ri-check-double-fill"></i> 1. CCP PMO : Ce projet, inséré dans le chantier plus large de Tenue de Compte, visait à intégrer progressivement des fonctionnalités pour la gestion des comptes CCP des Personnes Morales (PM) dans l'application MA. Mon engagement dans ce projet a été crucial, car il nécessitait une compréhension approfondie des besoins spécifiques des clients professionnels de la banque, afin de simplifier la gestion de ces comptes tout en offrant la flexibilité nécessaire pour développer de nouvelles offres. La demande élevée pour le développement et l'amélioration de fonctionnalités m'a permis de contribuer significativement, assurant une charge de travail constante et variée. </li>
                                <li><i class="ri-check-double-fill"></i> 2. Fonctionnalités multi-comptes : Ce projet concernait la transition de l'application MA de la version V4.0 à la version V4.1.1, impliquant une série d'améliorations et d'ajustements pour supporter les fonctionnalités multi-comptes. En tant que membre du chantier Interfaces, j'ai participé au développement et à la révision des composants nécessaires pour faciliter l'échange de données entre MA et les autres applications de la banque, assurant ainsi une intégration fluide et efficace. </li>
                                <li><i class="ri-check-double-fill"></i> 3. Épargne : Contrairement aux deux autres, le projet Épargne se concentrait sur la maintenance de l'application Interfaces de Tenue de Compte et l'intégration des évolutions règlementaires ou autres qui ne rentraient pas dans le cadre d'un projet spécifique. J'ai également géré les incidents de production, ce qui a nécessité une réactivité et une capacité d'adaptation importantes pour assurer la continuité des services.</li>
                                
                                </ul>
                               <p>Travailler simultanément sur ces trois projets m'a offert une expérience riche et diversifiée, me permettant de développer mes compétences en programmation, en gestion de projet, et en communication inter-équipes. Le projet CCP PMO, en particulier, m'a offert l'opportunité de plonger dans les complexités de la gestion des comptes professionnels, tandis que ma participation aux projets Fonctionnalités multi-comptes et Épargne a renforcé ma compréhension des infrastructures IT et de la maintenance d'applications critiques.</p>
                                
                                <h3>Architecture d’un programme cobol</h3>

                                <p>Pour appréhender correctement un programme en COBOL, il est essentiel de se familiariser avec ses bases, notamment l'utilisation des fichiers et la structure typique d'un programme. En COBOL, les fichiers jouent différents rôles, tels que :</p>
                                <ul class="features-list">
                                    <li><i class="ri-check-double-fill"></i> Insérer des données (fichier en entrée) : ils permettent d'introduire les données à traiter dans le programme. </li>
                                    <li><i class="ri-check-double-fill"></i> Consulter les erreurs dans le programme (fichier trace) : ils aident à diagnostiquer et à suivre les erreurs qui surviennent lors de l'exécution. </li>
                                    <li><i class="ri-check-double-fill"></i> Recevoir des données d’un programme (fichier en sortie) : ils recueillent les résultats du traitement effectué par le programme.</li>
                                    
                                    </ul>
                                <p>Un programme en COBOL se divise en quatre sections principales :</p>
                                <p>La Working :</p>
                                <ul class="features-list">
                                    <li><i class="ri-check-double-fill"></i> Les déclarations des compteurs pour les fichiers et les boucles. </li>
                                    <li><i class="ri-check-double-fill"></i> Les déclarations des variables utilisées dans le programme. </li>
                                    <li><i class="ri-check-double-fill"></i> Les initialisations des "copys" (modèles de données) pour les fichiers en entrée et en sortie.</li>
                                    <li><i class="ri-check-double-fill"></i> Les initialisations des "copys" à usage temporaire.</li>
                                    </ul>
                                    <p>La section "Début de programe", cette phase s'exécute une seule fois au démarrage du programme et inclut :</p>

                                <ul class="features-list">
                                    <li><i class="ri-check-double-fill"></i> Les messages d’entête pour le fichier trace.</li>
                                    <li><i class="ri-check-double-fill"></i> Les rapports initiaux du programme, tels que la date système et le nom du programme. </li>
                                    <li><i class="ri-check-double-fill"></i> Les opérations de lecture uniques nécessaires au démarrage, comme les requêtes ARMIDES/SQL.</li>
                                    <li><i class="ri-check-double-fill"></i> La vérification de la présence de données dans les fichiers d’entrée, entraînant le cas échéant l’arrêt du programme avec un code de retour spécifique et un message d’erreur si les fichiers sont jugés essentiels et trouvés vides.</li>
                                    </ul>
                                    <p>La section "Traitement", c'est le cœur du programme, où se déroulent les boucles de traitement tant que les fichiers d'entrée n'ont pas été entièrement lus. Cette section est responsable de :</p>
                                    <ul class="features-list">
                                        <li><i class="ri-check-double-fill"></i> L'alimentation des fichiers en sortie.</li>
                                        <li><i class="ri-check-double-fill"></i> La synchronisation et la gestion des ruptures. </li>
                                        <li><i class="ri-check-double-fill"></i> L'exécution des conditions logiques et des opérations dynamiques nécessaires au traitement des données.</li>
                                        <li><i class="ri-check-double-fill"></i> La vérification de la présence de données dans les fichiers d’entrée, entraînant le cas échéant l’arrêt du programme avec un code de retour spécifique et un message d’erreur si les fichiers sont jugés essentiels et trouvés vides.</li>
                                        </ul>

                                    <p>La section de "Fin de programme", similaire au début en termes de structure (pas de boucle), cette section s'occupe de :</p>
                                    <ul class="features-list">
                                        <li><i class="ri-check-double-fill"></i>Documenter dans le fichier trace le comptage des opérations d’écriture et de lecture effectuées.</li>
                                        <li><i class="ri-check-double-fill"></i> Générer le rapport de fin de programme. </li>
                                        <li><i class="ri-check-double-fill"></i>Fermer tous les fichiers ouverts.</li>
                                        <li><i class="ri-check-double-fill"></i> Enregistrer dans le fichier trace le code de retour final et le message de clôture.</li>
                                        </ul>
                                        <h3>Développement de l'application</h3>

                                <p>Durant les six derniers mois, j'ai eu l'opportunité de contribuer de manière significative aux applications CCP PMO et aux fonctionnalités multi-comptes dans le cadre du projet Épargne. Ce défi m'a été confié par Sylvie Legrand, marquant l'une de mes premières immersions dans des programmes d'une complexité notable. L'élaboration de ce programme et la réalisation des tests unitaires m'ont occupé pendant neuf jours, une période durant laquelle j'ai été confronté à des réflexions intenses non seulement sur le plan algorithmique mais également sur l'aspect technologique. En effet, je n'avais jamais auparavant abordé ce que l'on nomme les "points d'entrée". Cette expérience m'a permis de maîtriser cette notion, enrichissant ainsi mes compétences en programmation Cobol, un atout précieux pour mon avenir professionnel.</p>
                                <p>Le programme en question a pour but de gérer des opérations spécifiques sur les limites de comptes bancaires, telles que la création, la suppression, ou la modification d'une limite pour un numéro de compte donné, en fonction de la synchronisation des numéros de comptes. Cette synchronisation s'effectue entre au moins deux éléments de même taille issus de fichiers distincts, avec des indicateurs se mettant à '1' lorsqu'une correspondance est trouvée entre les données comparées. La spécificité de ces opérations réside dans leur capacité à traiter des situations où seul un des indicateurs est activé, illustrant une approche minutieuse de la gestion des données.</p>
                                <p>Une limite spécifique fonctionne comme un seuil minimal pour un compte bancaire, empêchant son solde de descendre en dessous d'un montant prédéfini. Par exemple, un compte doté d'une limite de 88,00 euros ne peut voir son solde inférieur à ce montant.</p>
                                <p>Concernant l'exécution du programme, le processus débute par une vérification de la présence de données dans les fichiers d'entrée, excluant les fichiers vides en signalant une erreur et en interrompant le programme si nécessaire. Grâce au Framework PTF, diverses fonctions sont ensuite sollicitées pour assurer l'écriture des compteurs, la gestion des erreurs, et l'appel aux points d'entrée nécessaires au traitement des limites spécifiques.</p>
                                <p>Le cœur du traitement repose sur des conditions basées sur la participation des fichiers d'entrée, permettant ainsi de déterminer les opérations à effectuer sur les numéros de comptes concernés, qu'il s'agisse de création, suppression, ou modification de limites. Ce processus est méticuleusement documenté dans les traces du programme, garantissant une transparence et une traçabilité des actions réalisées.</p>
                                <h3>Auto critique</h3>
                                <p>Bien que mes compétences de départ dans le domaine financier n'étaient pas extrêmement poussées, mon immersion dans le projet "Tenue de compte" a constitué le point de départ d'un enrichissement notable de mon savoir. Pendant plus d'un an, l'expérience acquise à travers divers programmes m'a permis d'élargir et de renforcer mes connaissances en mainframe. Bien que la méthode de travail et le langage COBOL ne correspondent pas à mes préférences professionnelles, j'ai néanmoins acquis une multitude de compétences et une compréhension approfondie qui se révèlent précieuses.</p>

                            </div>

                            <div class="article-footer">
                                <div class="article-tags">
                                    <p style="font-size: 19px;">Compétences associées</p>

                          
                        
                                    <a routerLink="/competences/cobol" style="color: #c9ab81;">Cobol</a>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-area">
            <div class="container">
                <div class="footer-content">
                    <div class="logo">
                        <a routerLink="/home-seven">
                            <img src="assets/img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="footer-contact-info">
                        <ul>
                            <li><i class="ri-map-pin-line"></i> <a href="#" target="_blank">35 Rue de Marseille, 44800
                                    Saint
                                    Herblain</a></li>
                            <li style="padding-right: 0;"><i class="ri-phone-line"></i> <a href="tel:+33778245715">07 78
                                    24 57
                                    15</a></li>
                            <li style="padding-left: 35px;"><i class="ri-mail-line"></i> <a href="mailto:Yohanbrau.pro@gmail.com">Yohanbrau.pro@gmail.com</a></li>
                        </ul>
                    </div>

                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/Yohan-brau-899a2617a/" target="_blank">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <p>Copyright <i class="ri-copyright-line"></i>2021 Placid. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>

                <div class="line"></div>
            </div>
        </footer>
    </div>
</div>
<!-- End Main Container Area -->