<!-- Start Main Container Area -->
<div class="main-container">
    <aside id="placid-aside" class="placid-aside bg-0f1d22">
        <div class="logo">
            <a class="navbar-brand" routerLink="/home">
                <span style="color:aliceblue">Kevin</span>
                <span style="color:#c9ab81"> Brau</span>
            </a>

        </div>

        <div class="d-table">
            <div class="d-table-cell">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/home">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#about">A propos de moi</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#services">Compétences</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#portfolio">Réalisations</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="aside-footer">
            <a href="/home#contact" class="default-btn">Me contacter</a>
        </div>

        <div class="line"></div>
    </aside>

    <div id="main-content" class="main-content">

        <div class="responsive-burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <section class="blog-details-area ptb-90 bg-0f1d22">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="blog-details-desc">
                            <div class="article-image" style="display: flex;
                            justify-content: center;background-color: #9b96963d;">
                                <img style="filter: brightness(0.9);width: 58%;" src="assets/img/works/img4.jpg" alt="image">
                            </div>

                            <div class="article-content">

                                <h2 style="color:white">FAST</h2>

                                <p><b>FAST, pour Former, Aider, Soutenir et Transmettre,</b> est un projet de formation humaine que j’ai réalisé au 3eme semestre à IN’TECH. Il a été réalisé en collaboration avec deux de mes camarades, <b>Thibaut Binard</b>                                    et <b>Victor Cardoso</b>. L’objectif de ce semestre était d’organiser et d’animer une formation a un groupe de personne néophyte à l’informatique. Le projet FAST a été commandité par l’<b>ADMR des Landes</b> avec Mme
                                    <b>Laurence AROTCARENA</b>, Coordinatrice de l’association. Le but du projet est de former les travailleuses sociales à assimiler leurs nouvelles méthodes de travail informatique. Pour ce faire, deux demi-journées de
                                    formation avec 24 personnes ont été mises en place pour leur apprendre à utiliser l’outil <u>Google Drive</u>.
                                </p>

                                <h3>Contexte</h3>

                                <p>L’idée de former des travailleuses de l’ADMR nous est venue lors de notre première réunion avec eux. Cette réunion était composée de plusieurs « entreprises » qui étaient prêtes à assister à une future formation en nous
                                    présentant leurs métiers et leurs contraintes. Celle de l’ADMR nous a tout de suite touché. En effet les travailleuses de l’ADMR sont amenées à travailler avec beaucoup de jeunes en difficulté de la région des Landes
                                    et elles n’ont pas de système pour centraliser leurs documents ce qui provoquait des pertes de documents parfois importantes.
                                </p>
                                <p>C’est alors que nous avons pensé à deux types de formations, une formation sur la suite <u>Pack Office</u> ou sur <u>Google Drive</u>. La suite Office étant payante nous nous sommes rapidement penchés sur l’outil Google
                                    Drive puisqu’il permet de créer et partager des documents gratuitement.
                                </p>
                                <p>Pour organiser et animer cette formation nous avons dû découper le projet sous forme d’objectif et ils sont aux nombres de cinq. Le premier objectif était de s’informer de l’outil sur lequel nous voulions former. Ensuite
                                    il nous fallait préparer les différents supports pour appuyer notre présentation lors de la formation. Il nous fallait aussi mettre en place les rendez-vous avec la représentante de l’ADMR pour organiser les dates de
                                    formations. Nous avons dû aussi réfléchir à des activités interactives à réaliser lors des formations. Et enfin nous devions nous entraîner à animer la formation.</p>
                                <p>Le risque ici était ne pas savoir capter l’attention de 12 personnes pendant une demi-journée et que les travailleuses de l’ADMR sortent de cette formation sans avoir appris à utiliser l’outil <u>Google Drive</u>.</p>


                                <h3>Préparation des supports</h3>
                                <p>Après avoir acquis les connaissances nécessaires sur l’outil <u>Google Drive</u>, nous avons commencé à créer différents supports qui allaient appuyer nos propos lors des formations. </p>
                                <p>Le premier objectif était de récupérer le taux de connaissances qu’avaient les travailleuses de l’ADMR sur l’outil <u>Google Drive</u>. Pour ce faire nous avons créé un tableau que nous avons envoyé par mail à <b>Laurence AROTCARENA</b>                                    pour qu’elle puisse remplir le document.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/fast1.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple du tableau de connaissance</i></small>
                                </div>
                                <p>C’est grâce à ce tableau que nous avons pu réellement commencer à réfléchir aux différents points qu’il fallait aborder lors de la formation. </p>
                                <p>Nous avons ensuite pu créer un « <u>Plan de conférence</u> », ce document a pour but d’avoir un point de vue d’ensemble du déroulé d’une demi-journée de formation. On y retrouve des éléments tels que les intervenants et
                                    le sujet, le temps d’intervention et les points à aborder. La création de ce document nous a permis d’évaluer le temps nécessaire pour chaque sujet, partie, à aborder. La définition du temps nous a été très utile puisqu’il
                                    était nécessaire de faire rentrer la durée de la formation dans une demi-journée.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/fast2.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple du plan de conférence</i></small>
                                </div>
                                <p>Une fois les sujets définis, nous avons créé un support sous format PowerPoint qui allait appuyer nos propos lors des formations.</p>
                                <p>Et enfin, nous avons conçu un document récapitulatif que l’on distribuait à chaque fin de formation qui reprenait tous les points les plus importants. Cela a permis aux travailleuses de l’ADMR d’avoir un rappel des bonnes
                                    pratiques à adopter pour utiliser <u>Google Drive</u>.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/fast3.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple du docuemnt récapitulatif</i></small>
                                </div>

                                <h3>Création des activités interactives</h3>
                                <p>Une fois les supports créés pour les formations, nous avons décidé de créer des activités qui permettraient de mettre en pratique ce qu’avait appris les travailleuses de l’ADMR et de nous assurer que tout le monde avait
                                    bien compris. Pour ce faire nous avons mis en place, dans Google Drive, des dossiers symbolisant les activités.
                                </p>

                                <p>Par exemple ce dossier d’activités <img width="145px" src="assets/img/realisation/fast 4.png" alt="image"> a permis aux travailleuses de comprendre l’utilité de bien nommer ces dossiers pour qu’elles puissent les retrouver
                                    plus facilement.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/fast5.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;"></i></small>
                                </div>
                                <p>Une autre activité était de bien choisir les couleurs adéquates pour aider à comprendre le contenu d’un dossier. Ici par exemple nous pouvons voir quatre couleurs. Chaque couleur représente l’état d’avancement d’un dossier
                                    ou son importance.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/fast6.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;"></i></small>
                                </div>
                                <p>La dernière activité que nous avons mise en place permet aux travailleuses de comprendre l’importance de bien structurer ces documents pour qu’elles puissent les retrouver plus facilement et ne pas perdre de fichiers.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/fast7.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;"></i></small>
                                </div>
                                <p>On peut voir ici comme exemple une personne détenant des fichiers de plusieurs écoles. Il est important pour elle de bien les ranger pour les retrouver facilement et de gagner du temps.</p>
                                <p>Toutes ces activités nous ont permis d’appuyer nos propos et de faire comprendre l’importance de bien structurer, nommer et de colorer ces documents pour travailler efficacement. Les travailleuses de l’ADMR ont pu comprendre
                                    la réelle utilité de <u>Google Drive</u> ainsi que sa force.</p>

                                <h3>Animation des formations</h3>
                                <p>Pendant les formations, il était important pour nous de suivre le <b>plan de conférence</b> que nous avions mis en place. Cela nous a permis de ne pas dériver sur d’autre sujet et surtout de respecter le temps qui nous
                                    était alloué.</p>
                                <p>La formation commençait avec une présentation de notre équipe ainsi que du sommaire.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/fast8.jpg" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple de la présentation</i></small>
                                </div>
                                <p>Il était important de garder une bonne cohésion entre nous pour que la présentation reste fluide et agréable à l’écoute.</p>
                                <p>Il était aussi nécessaire d’adapter son discours suivant le niveau de notre interlocuteur. C’est pourquoi nous avions placé les travailleuses suivant leurs niveaux avec l’outil <u>Google Drive</u>, nous permettant d’aider
                                    les personnes les plus néophytes.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/fast9.jpg" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple de placement</i></small>
                                </div>

                                <h3>Résultat</h3>
                                <p>Les différentes formations que nous avons animées ont beaucoup plu aux travailleuses de l’ADMR. Nous avons pu évaluer leur niveau de satisfaction grâce à un questionnaire que nous avons mis à disposition à la fin de chaque
                                    formation.
                                </p>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/fast10.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple du questionnaire</i></small>
                                </div>
                                <p>En plus de leur satisfaction, les travailleuses de l’ADMR ont su nous montrer qu’elles avaient bien compris comment fonctionnait l’outil Google Drive ainsi que son utilité pour leur travail.</p>
                                <p>Quant à moi, j’ai beaucoup apprécié de travailler sur un projet de formation. Ayant deux grands-mères néophytes dans l’informatique, je suis souvent amené à leur expliquer comment fonctionne les ordinateurs et j’ai su retrouver,
                                    lors de ce projet, la même satisfaction que j’éprouve lorsque mon interlocuteur comprend ce que je lui apprends et met en place ce qu’il a compris. </p>
                                <p>Quelque temps après les formations, nous avons reçu un message de la part d’une des travailleuses qui a assisté à la formation nous expliquant qu’elle utilisait désormais <u>Google Drive</u> et que ça lui a permis de gagner
                                    énormément de temps pour ce qui est de la gestion de ses documents.</p>
                                <p>Aujourd’hui je n’ai malheureusement pas moyen de prouver que la formation leur est toujours utile mais j’espère que cela les aide encore dans leur quotidien.</p>


                                <h3>Mon auto critique</h3>
                                <p>Pendant les formations des travailleuses de l’ADMR, j’ai su adapter mon langage pour les aider à comprendre au maximum l’utilité de Google Drive dans leur travail et l’importance de bien ranger ses documents pour éviter
                                    toute perte. En plus de ça j’ai ajouté ma bonne humeur lors du projet, ce qui a pu renforcer les liens sociaux entre mes camarades et améliorer les formations en les rendant plus fluides et conviviales.</p>
                                <p>Ce que j’ai pu apprendre lors de ce projet, c’est l’importance des formations. Cela permet à une personne d’acquérir ou d’approfondir ses connaissances sur un sujet précis. En l’occurrence, les travailleuses de l’ADMR ont
                                    appris à utiliser <u>Google Drive</u> de façon professionnelle et à en tirer tous ses avantages. En plus de ça, j’ai pu améliorer mes compétences en <b>habileté en communication orale</b> et en <b>organisation et animation de réunion</b>                                    par le biais de ce projet.</p>
                            </div>

                            <div class="article-footer">
                                <div class="article-tags">
                                    <p style="font-size: 19px;">Compétences associées</p>

                                    <a routerLink="/competences/esprit-equipe" style="color: #c9ab81;">L’esprit d’équipe</a> /
                                    <a routerLink="/competences/communication" style="color: #c9ab81;">Habiletés en communication orale</a> /
                                    <a routerLink="/competences/gestion-temps" style="color: #c9ab81;">Gestion du temps</a> /
                                    <a routerLink="/competences/doc-utilisateur" style="color: #c9ab81;">Rédaction de documents utilisateurs</a> /
                                    <a routerLink="/competences/reunion" style="color: #c9ab81;">Organisation et animation de réunion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-area">
            <div class="container">
                <div class="footer-content">
                    <div class="logo">
                        <a routerLink="/home-seven">
                            <img src="assets/img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="footer-contact-info">
                        <ul>
                            <li><i class="ri-map-pin-line"></i> <a href="#" target="_blank">35 Rue de Marseille, 44800
                                    Saint
                                    Herblain</a></li>
                            <li style="padding-right: 0;"><i class="ri-phone-line"></i> <a href="tel:+33778245715">07 78
                                    24 57
                                    15</a></li>
                            <li style="padding-left: 35px;"><i class="ri-mail-line"></i> <a href="mailto:kevinbrau.pro@gmail.com">kevinbrau.pro@gmail.com</a></li>
                        </ul>
                    </div>

                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/kevin-brau-899a2617a/" target="_blank">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <p>Copyright <i class="ri-copyright-line"></i>2021 Placid. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>

                <div class="line"></div>
            </div>
        </footer>
    </div>
</div>
<!-- End Main Container Area -->