<!-- Start Main Container Area -->
<div class="main-container">
    <aside id="placid-aside" class="placid-aside bg-0f1d22">
        <div class="logo">
            <a class="navbar-brand" routerLink="/home">
                <span style="color:aliceblue">Kevin</span>
                <span style="color:#c9ab81"> Brau</span>
            </a>

        </div>

        <div class="d-table">
            <div class="d-table-cell">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/home">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#about">A propos de moi</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#services">Compétences</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#portfolio">Réalisations</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="aside-footer">
            <a href="/home#contact" class="default-btn">Me contacter</a>
        </div>

        <div class="line"></div>
    </aside>

    <div id="main-content" class="main-content">

        <div class="responsive-burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <section class="blog-details-area ptb-90 bg-0f1d22">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="blog-details-desc">
                            <div class="article-image">
                                <img style="filter: brightness(0.9);" src="assets/img/competence/web_framework.png" alt="image">
                            </div>

                            <div class="article-content">
                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <i class="ri-folder-2-line"></i>
                                            <span>Compétence</span>
                                            <a href="/home#services">Technique</a>
                                        </li>
                                        <li>
                                            <i class="ri-group-2-line"></i>
                                            <span>Niveau d'expertise</span>
                                            <a>Confirmé</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                                <h2 style="color:white">Utilisation de Framework Web</h2>

                                <p>Un Framework peut se traduire en français par « infrastructure logicielle ». Il sert de squelette pour l’application, toute la partie technique est gérée en tache de fond. Cela permet au développeur d’être plus productif
                                    en étant concentré que sur l’essentiel.
                                </p>

                                <p>On désigne un Framework par ces trois utilités :
                                </p>

                                <ul class="features-list">
                                    <li><i class="ri-check-double-fill"></i> La rapidité : Le Framework web donne un gain de temps conséquent lors du développement</li>
                                    <li><i class="ri-check-double-fill"></i> L’organisation : Son architecture aide à l’organisation du code source en utilisant le plus souvent le <u><a href="https://fr.wikipedia.org/wiki/Mod%C3%A8le-vue-contr%C3%B4leur">modèle MVC</a></u></li>
                                    <li><i class="ri-check-double-fill"></i> La maintenabilité : L’organisation du Framework permet de maintenir plus facilement l’application</li>
                                </ul>

                                <p>Il existe une multitude Framework Web, mais nous parlerons en particulier dans cet article des Framework <u><a href="https://fr.wikipedia.org/wiki/JQuery">JQuery</a></u> et <u><a href="https://fr.wikipedia.org/wiki/Angular">Angular</a></u>.</p>


                                <p>L’utilisation d’un Framework web dans une entreprise peut être un atout majeur puisqu’il permet aux développeurs de gagner énormément de temps pour ce qui de la création de l’architecture de l’application. De nombreux Frameworks
                                    mettent en place par défaut des architectures en MVC. En plus de ça, les règles de sécurité de base sont souvent embarquées directement grâce aux fonctions de sécurités qui s’exécutent automatiquement.</p>

                                <p>Une entreprise peut facilement recruter des développeurs même si ceux-ci sont peu expérimentés dans l’utilisation de Framework puisque la marge de progression se fait facilement grâce aux documentations que l’on peut trouver
                                    en ligne.</p>

                                <h3>Mise en oeuvre</h3>
                                <p>Pendant ma formation à INTECH'Sud, j’ai eu l’opportunité de travailler sur de nombreux projets informatiques. Lors de mon premier projet, j’étais en pleine découverte du développement. J’avais pour mission de créer un jeu
                                    vidéo en HTML accompagné de CSS et Javascript. L’utilisation de Framework n’était pas autorisée puisque le but ici était de développer en comprenant tous les aspects techniques.</p>

                                <p>Pour ce projet, j’ai dû créer différents appels <u><a href="https://fr.wikipedia.org/wiki/Ajax_(informatique)">AJAX</a></u>. Je rencontrais beaucoup de difficultés avec la syntaxe d’écriture ce qui ne permettait pas de
                                    comprendre pleinement l’utilité de l’AJAX.</p>

                                <div class="services-details-image">
                                    <img src="assets/img/competence/framework1.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple d’écriture d’un appel AJAX en Javascript</i></small>
                                </div>
                                <p>Lors de mon deuxième projet, <u><a href="/realisations/e-pop">E-pop</a></u>, J’ai eu l’opportunité de découvrir et d’utiliser pour la première fois le Framework JQuery. Pour ce projet j’ai dû créer des appels AJAX mais
                                    cette fois-ci avec la syntaxe de JQuery.
                                </p>

                                <div class="services-details-image">
                                    <img src="assets/img/competence/framework2.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple d’écriture d’un appel AJAX en JQuery</i></small>
                                </div>
                                <p>Avec cette syntaxe, j’ai pu comprendre l’utilité et le fonctionnement des appels AJAX.</p>

                                <p>Pendant ma troisième année à INTECH, je travaillais sur le projet <u><a href="/realisations/maestro">Maestro</a></u>, un projet développé en Angular. J’avais pour mission de créer et gérer les accès aux différentes pages
                                    en respectant les droits d’accès des utilisateurs dans l’application coté front. C’est alors que je me suis lancé dans ce développement sans forcément lire la documentation proposé par Angular au sujet des <u><a href="https://angular.io/api/router/CanActivate">Routes Guards</a></u>.
                                </p>

                                <p>Après avoir passé plus d’une semaine de développement, je n’arrivais pas à mettre en place une solution viable. C’est en recherchant simplement que j’ai pu découvrir l’existence des « Routes Guards » me permettant de facilement
                                    gérer les accès sans forcément développer toute une logique complexe. Quelques simples lignes de code m’ont permis de comprendre son fonctionnement.</p>

                                <h3>Maitrise</h3>
                                <p>Pour l’utilisation de Framework Web j’estime être <u>confirmé</u>
                                </p>
                                <p>L’utilisation des Frameworks Web m’a permis de gagner en rapidité lors de la création de mes divers projets. J’ai pu améliorer cette compétence au fil des années en utilisant des Frameworks de façon récurrente sur presque
                                    tous mes projets lors de ma formation à IN’TECH et lors de mes projets professionnels. La pratique intensive de JQuery et Angular m’a permis de monter en compétence rapidement grâce aux différentes documentations qui
                                    sont disponibles en ligne.</p>
                                <p>Cette compétence m’est plus qu’utile aujourd’hui dans mon milieu professionnel, puisqu’étant développeur au sein de Capgemini, j’ai la chance de travailler sur un projet doté d’un front développé avec Angular. Cela m’a
                                    permis de mettre en place avec facilité des règles de sécurité pour l’application. </p>
                                <p>Avec l’expérience que j’ai pu acquérir, je conseille à toute personne voulant s’intéresser au Framework Web de réaliser une <u><a href="https://fr.wikipedia.org/wiki/Veille_technologique">veille technologique</a></u> sur
                                    les sorties des nouvelles versions de Framework. Aujourd’hui, les Frameworks Web évoluent constamment en ne cessant de s’améliorer par leurs syntaxes ou leurs possibilités. Je fais moi-même une veille sur les Frameworks
                                    Web ce qui me permet de gagner en visibilité sur les nouvelles versions et d’en apprendre plus sur leurs fonctionnements.</p>
                                <h3>Évolution compétence</h3>
                                <p>Dans un futur proche je souhaiterais m’améliorer dans l’utilisation des Frameworks Web en découvrant d’autre Framework tels que <b>Ionic</b>, pour le développement mobile ou encore <b>Django</b> pour du développement web
                                    en Python.
                                </p>
                                <p>Lors de mon alternance j’ai eu la chance de participer à une formation sur Angular qui m’a permis d’améliorer l’aspect sécurité de mes applications.</p>
                            </div>

                            <div class="article-footer">
                                <div class="article-tags">
                                    <p style="font-size: 19px;">Réalisations associées</p>

                                    <a routerLink="/realisations/comptage-btob" style="color: #c9ab81;">Comptage BTOB</a> /
                                    <a routerLink="/realisations/maestro" style="color: #c9ab81;">Maestro</a> /
                                    <a routerLink="/realisations/e-pop" style="color: #c9ab81;">E-pop</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-area">
            <div class="container">
                <div class="footer-content">
                    <div class="logo">
                        <a routerLink="/home-seven">
                            <img src="assets/img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="footer-contact-info">
                        <ul>
                            <li><i class="ri-map-pin-line"></i> <a href="#" target="_blank">35 Rue de Marseille, 44800
                                    Saint
                                    Herblain</a></li>
                            <li style="padding-right: 0;"><i class="ri-phone-line"></i> <a href="tel:+33778245715">07 78
                                    24 57
                                    15</a></li>
                            <li style="padding-left: 35px;"><i class="ri-mail-line"></i> <a href="mailto:kevinbrau.pro@gmail.com">kevinbrau.pro@gmail.com</a></li>
                        </ul>
                    </div>

                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/kevin-brau-899a2617a/" target="_blank">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <p>Copyright <i class="ri-copyright-line"></i>2021 Placid. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>

                <div class="line"></div>
            </div>
        </footer>
    </div>
</div>
<!-- End Main Container Area -->