<!-- Start Main Container Area -->
<div class="main-container">
    <aside id="placid-aside" class="placid-aside bg-0f1d22">
        <div class="logo">
            <a class="navbar-brand" routerLink="/home">
                <span style="color:aliceblue">Kevin</span>
                <span style="color:#c9ab81"> Brau</span>
            </a>

        </div>

        <div class="d-table">
            <div class="d-table-cell">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/home">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#about">A propos de moi</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#services">Compétences</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#portfolio">Réalisations</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="aside-footer">
            <a href="/home#contact" class="default-btn">Me contacter</a>
        </div>

        <div class="line"></div>
    </aside>

    <div id="main-content" class="main-content">

        <div class="responsive-burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <section class="blog-details-area ptb-90 bg-0f1d22">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="blog-details-desc">
                            <div class="article-image">
                                <img style="filter: brightness(0.9);" src="assets/img/competence/git.png" alt="image">
                            </div>

                            <div class="article-content">
                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <i class="ri-folder-2-line"></i>
                                            <span>Compétence</span>
                                            <a href="/home#services">Technique</a>
                                        </li>
                                        <li>
                                            <i class="ri-group-2-line"></i>
                                            <span>Niveau d'expertise</span>
                                            <a>Initié</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                                <h2 style="color:white">Git</h2>

                                <p>Git est un logiciel de gestion de versions gratuit et <u><a href="https://fr.wikipedia.org/wiki/Open_source">open source</a></u>. Créé par <u><a href="https://fr.wikipedia.org/wiki/Linus_Torvalds">Linus Torvalds</a></u>                                    en 2005, il est utilisé par plus de 15 millions de personnes. Git aide à analyser plus facilement les modifications et les contributions apportées à du code collaboratif. Cela permet au développeur de garder ses fichiers
                                    à jours et d’y accéder n’importe où de façon sécurisée.
                                </p>

                                <p>La notion de « branche » est importante avec Git. Une branche peut être traduite par une copie du projet pour développer et tester de nouvelles fonctionnalités sans impacter le projet de base. Cette branche peut ensuite
                                    être « merge » (fusionné) avec la branche principale « Main » du projet pour y apporter ces modifications.
                                </p>

                                <div class="services-details-image">
                                    <img src="assets/img/competence/git_schema.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple de gestion de branche</i></small>
                                </div>
                                <p>Git se différencie de la concurrence de par ces nombreuses caractéristiques :</p>
                                <ul class="features-list">
                                    <li><i class="ri-check-double-fill"></i> Git utilise un modèle de données qui garantit l’intégrité cryptographique de tout ce qui est présent dans un dépôt dans le but de les sécuriser</li>
                                    <li><i class="ri-check-double-fill"></i> Git propose au développeur de pouvoir formater les modifications et les faire réviser avant de les appliquer réellement. Cela permet de garder un contrôle sur les branches</li>
                                    <li><i class="ri-check-double-fill"></i> Toutes les actions que Git peut réaliser comme les commits, créer des branches ou faire des merges sont optimisées. Ce qui rend Git très performant par rapport aux autres alternatives</li>
                                </ul>
                                <p>Aujourd’hui de nombreuses entreprises utilisent Git pour stocker et gérer leurs projets. On peut citer <b>Capgemini</b> et plus particulièrement sur son pôle Aéronautique ou les projets sont stockés et gérés sur Git. Cela
                                    permet de centraliser les projets pour que les développeurs puissent reprendre des projets facilement.</p>

                                <h3>Mise en oeuvre</h3>
                                <p>J’ai eu l’occasion d’utiliser Git pour la première fois lors de mon premier semestre avec le projet <b>KeepClean</b> à la suite d’un retard occasionné durant le développement. Avec mes camarades et moi-même nous avions
                                    commencé à développer le jeu <b>KeepClean</b> sans utiliser Git. C’est-à-dire qu’après l’ajout de nouvelles fonctionnalités, nous nous échangions les données sur une clé USB pour garder le projet à jour. Nous nous sommes
                                    rendus compte assez rapidement qu’il nous fallait une alternative pour stocker nos données de projet puisque nous perdions énormément de temps. C’est à ce moment que nous avons remarqué l’existence de Git. Il nous a
                                    permis de centraliser le code source de l’application et d’ajouter du nouveau code dynamiquement.</p>

                                <p>L’utilisation de Git sur ce projet nous a permis de rendre le projet à temps sans problème de version.
                                </p>

                                <p>Sur ce premier projet, je n’ai pas eu l’opportunité d’utiliser pleinement les capacités de Git. Je l’ai utilisé sans savoir qu’il existait un principe de branche. C’est pourquoi, pour le projet <u><a href="/realisations/e-pop">E-pop</a></u>,
                                    j’ai démarré le projet directement avec Git. Cela m’a permis d’utiliser plus en profondeur Git en y incorporant des branches pour chaque nouvelle fonctionnalité.
                                </p>
                                <p>Plus récemment, j’ai utilisé Git pour le <u><a href="/realisations/comptage-btob">Comptage BTOB</a></u> avec l’équipe informatique. Je devais développer de nouvelles fonctionnalités pour l’application. Après chaque développement,
                                    je faisais un « push » (envoyer le code) sur la branche de développement. Un jour le client m’a demandé à ce qu’on retire une grosse fonctionnalité de l’application, le comptage par contact. Sauf que l’on ne pouvait
                                    pas simplement retirer le code en le supprimant puisque cela impactait de nombreuses parties de l’application. Pour ce faire, nous avons réalisé un « git revert ». C’est une commande qui nous a permis de revenir à un
                                    moment clé de notre branche de développement sans la fonctionnalité du comptage par contact.</p>

                                <p>Cela nous a fait gagner beaucoup de temps sur notre développement et nous a permis de ne pas causer des problèmes dans l’application en enlevant une fonctionnalité importante.
                                </p>

                                <h3>Maitrise</h3>
                                <p>Pour l’utilisation de Git, j’estime être <u>initié</u>. Il est vrai que j’ai pu utiliser Git sur tous mes projets. Cela m’a permis de me perfectionner sur son utilisation. Mais il est toutefois important de noter qu’il
                                    me reste une marge de progression afin de maîtriser totalement cet outil. C’est un outil puissant et complexe qui nécessite des années d’utilisation pour pouvoir le maîtriser. En plus de ça, chaque projet a sa façon
                                    d’utiliser Git. Ce qui rend son apprentissage plus difficile.
                                </p>
                                <p>Grâce à ce langage, j’ai pu me rendre compte du potentiel qu’avaient les <u>bibliothèques</u> pour simplifier le travail du développeur. En plus de ça, PHP est un langage facile à apprendre de par ses nombreuses documentations
                                    que l’on peut retrouver en ligne.</p>
                                <p>Git a une place importante dans le profil d’expert en ingénierie puisqu’il permet de savoir stocker le code source d’un projet et de gérer ses versions. Beaucoup d’entreprises recherchent cette compétence aujourd’hui.</p>
                                <p>Avec l’expérience que j’ai aujourd’hui, je conseille à tout débutant de se renseigner par le biais de vidéo YouTube avec la vidéo de <u><a href="https://www.youtube.com/watch?v=gp_k0UVOYMw">Graven - Développement</a></u>                                    qui explique très bien comment Git fonctionne sur un projet. En plus de ça il existe un jeu s’intitulant « Oh My Git » qui permet d’apprendre à utiliser des commandes Git tout en s’amusant.</p>

                                <h3>Évolution compétence</h3>
                                <p>Aujourd’hui, j’utilise quotidiennement Git pour mes projets. Mais je suis toujours en apprentissage et je dois donc souvent regarder la documentation si je veux effectuer des commandes que je n’ai pas l’habitude d’utiliser
                                    puisqu’il en existe une multitude. J’aimerais ainsi m’améliorer en apprenant le plus possible de commandes Git pour m’aider à améliorer ma vitesse de développement.
                                </p>
                                <p>Pour ce faire, je compte m’auto-former sur l’utilisation de Git ainsi que de ses commandes complexes en suivant des vidéos YouTube spécialisées dans l’utilisation de Git de la chaine <u><a href="https://youtu.be/rP3T0Ee6pLU?list=PLjwdMgw5TTLXuY5i7RW0QqGdW0NZntqiP">Grafikart</a></u></p>
                            </div>

                            <div class="article-footer">
                                <div class="article-tags">
                                    <p style="font-size: 19px;">Réalisations associées</p>

                                    <a routerLink="/realisations/comptage-btob" style="color: #c9ab81;">Comptage BTOB</a> /
                                    <a routerLink="/realisations/e-pop" style="color: #c9ab81;">E-pop</a> /
                                    <a routerLink="/realisations/maestro" style="color: #c9ab81;">Maestro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-area">
            <div class="container">
                <div class="footer-content">
                    <div class="logo">
                        <a routerLink="/home-seven">
                            <img src="assets/img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="footer-contact-info">
                        <ul>
                            <li><i class="ri-map-pin-line"></i> <a href="#" target="_blank">35 Rue de Marseille, 44800
                                    Saint
                                    Herblain</a></li>
                            <li style="padding-right: 0;"><i class="ri-phone-line"></i> <a href="tel:+33778245715">07 78
                                    24 57
                                    15</a></li>
                            <li style="padding-left: 35px;"><i class="ri-mail-line"></i> <a href="mailto:kevinbrau.pro@gmail.com">kevinbrau.pro@gmail.com</a></li>
                        </ul>
                    </div>

                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/kevin-brau-899a2617a/" target="_blank">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <p>Copyright <i class="ri-copyright-line"></i>2021 Placid. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>

                <div class="line"></div>
            </div>
        </footer>
    </div>
</div>
<!-- End Main Container Area -->