<!-- Start Main Container Area -->
<div class="main-container">
    <aside id="placid-aside" class="placid-aside bg-0f1d22">
        <div class="logo">
            <a class="navbar-brand" routerLink="/home">
                <span style="color:aliceblue">Yohan</span>
                <span style="color:#c9ab81"> Brau</span>
            </a>

        </div>

        <div class="d-table">
            <div class="d-table-cell">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/home">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#about">A propos de moi</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#services">Compétences</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#portfolio">Réalisations</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="aside-footer">
            <a href="/home#contact" class="default-btn">Me contacter</a>
        </div>

        <div class="line"></div>
    </aside>

    <div id="main-content" class="main-content">

        <div class="responsive-burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <section class="blog-details-area ptb-90 bg-0f1d22">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="blog-details-desc">
                            <div class="article-image">
                                <img style="filter: brightness(0.9);" src="assets/img/competence/<b>Git</b>.png" alt="image">
                            </div>

                            <div class="article-content">
                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <i class="ri-folder-2-line"></i>
                                            <span>Compétence</span>
                                            <a href="/home#services">Technique</a>
                                        </li>
                                        <li>
                                            <i class="ri-group-2-line"></i>
                                            <span>Niveau d'expertise</span>
                                            <a>Initié</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                                <h2 style="color:white"><b>Git</b></h2>

                                <p><b>Git</b> est un logiciel de gestion de versions gratuit et <u><a href="https://fr.wikipedia.org/wiki/Open_source">open source</a></u>. Créé par <u><a href="https://fr.wikipedia.org/wiki/Linus_Torvalds">Linus Torvalds</a></u>                                    en 2005, il est utilisé par plus de 15 millions de personnes. <b>Git</b> aide à analyser plus facilement les modifications et les contributions apportées à du code collaboratif. Cela permet au développeur de garder ses fichiers
                                    à jours et d’y accéder n’importe où de façon sécurisée.
                                </p>

                                <p>La notion de « branche » est importante avec <b>Git</b>. Une branche peut être traduite par une copie du projet pour développer et tester de nouvelles fonctionnalités sans impacter le projet de base. Cette branche peut ensuite
                                    être « merge » (fusionné) avec la branche principale « Main » du projet pour y apporter ces modifications.
                                </p>

                                <div class="services-details-image">
                                    <img src="assets/img/competence/<b>Git</b>_schema.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple de gestion de branche</i></small>
                                </div>
                                <p><b>Git</b> se différencie de la concurrence de par ces nombreuses caractéristiques :</p>
                                <ul class="features-list">
                                    <li><i class="ri-check-double-fill"></i> <b>Git</b> utilise un modèle de données qui garantit l’intégrité cryptographique de tout ce qui est présent dans un dépôt dans le but de les sécuriser</li>
                                    <li><i class="ri-check-double-fill"></i> <b>Git</b> propose au développeur de pouvoir formater les modifications et les faire réviser avant de les appliquer réellement. Cela permet de garder un contrôle sur les branches</li>
                                    <li><i class="ri-check-double-fill"></i> Toutes les actions que <b>Git</b> peut réaliser comme les commits, créer des branches ou faire des merges sont optimisées. Ce qui rend <b>Git</b> très performant par rapport aux autres alternatives</li>
                                </ul>
                                <p>Aujourd’hui de nombreuses entreprises utilisent <b>Git</b> pour stocker et gérer leurs projets. On peut citer <b>CGI</b> où les projets sont stockés et gérés sur <b>Git</b>. Cela
                                    permet de centraliser les projets pour que les développeurs puissent reprendre des projets facilement.</p>

                                <h3>Mise en oeuvre</h3>
                                <p>Lors de mon premier semestre, j'ai été initié à <b>Git</b> dans le cadre du projet Logicode, une expérience qui s'est avérée être un tournant dans ma manière de gérer le développement collaboratif. Au début du projet, mon équipe et moi avions opté pour une méthode rudimentaire de partage de fichiers via une clé USB, ce qui s'est rapidement révélé inefficace et chronophage. La prise de conscience de cette lacune nous a conduits à découvrir <b>Git</b>, qui a transformé notre approche en nous permettant de centraliser et de mettre à jour dynamiquement le code source de l'application.</p>

                                <p>L'adoption de <b>Git</b> a été cruciale pour la réussite du projet <b>Logicode</b>(projet informatique réalisé au deuxième semestre à l'ESIEA), nous permettant de respecter nos délais malgré un démarrage tardif. Bien que mon utilisation de <b>Git</b> à ce stade fût basique, ne profitant pas encore pleinement de ses fonctionnalités avancées comme la gestion des branches, cette première expérience a posé les fondations de ma compétence future avec cet outil.
                                </p>

                                <p>Dans les projets suivants, j'ai pris l'initiative de démarrer directement avec <b>Git</b>, approfondissant ma compréhension et mon usage de ses capacités, notamment en créant des branches pour chaque nouvelle fonctionnalité. Cette pratique a amélioré significativement l'efficacité et la gestion des versions dans le développement.
                                </p>
                                <p>Plus récemment, dans le projet GECO, l'utilisation de <b>Git</b> a pris une nouvelle dimension. Alors que je travaillais sur le développement de nouvelles fonctionnalités, la nécessité de retirer un élément complexe de l'application un test d'éligibilité sur les numéros de compte clients s'est présentée. La solution est venue sous la forme d'un <a href="https://<b>Git</b>-scm.com/docs/<b>Git</b>-revert"><b>Git</b> revert</a>, une commande qui nous a permis de revenir à un état antérieur du code sans la fonctionnalité en question. Cette manœuvre a non seulement économisé un temps précieux, mais a également évité de potentiels dysfonctionnements dans l'application.</p>

                                <p>Cet épisode a démontré la puissance de <b>Git</b> dans la gestion de situations complexes et a renforcé ma conviction que la maîtrise de cet outil est indispensable pour tout développeur soucieux de l'efficacité et de la fiabilité dans le processus de développement de logiciels.
                                </p>

                                <h3>Maitrise</h3>
                                <p>Actuellement, je me considère comme un utilisateur <u>initié</u> de <b>Git</b>. Bien que j'aie eu l'opportunité d'utiliser <b>Git</b> dans tous mes projets, me permettant ainsi d'améliorer progressivement ma pratique, je suis conscient qu'il me reste encore du chemin à parcourir pour atteindre une maîtrise totale. <b>Git</b> est un outil à la fois puissant et complexe, dont l'apprentissage complet exige des années de pratique. De plus, chaque projet a sa propre manière d'implémenter <b>Git</b>, ce qui ajoute à la complexité de son apprentissage.
                                </p>
                                <p>La maîtrise de <b>Git</b> est devenue une compétence cruciale dans le domaine de l'ingénierie logicielle, essentielle pour la gestion efficace du code source et des versions d'un projet. Sa maîtrise est fortement valorisée dans le secteur professionnel, de nombreuses entreprises recherchant activement cette aptitude.</p>
                                <p><b>Git</b> a une place importante dans le profil d’expert en ingénierie puisqu’il permet de savoir stocker le code source d’un projet et de gérer ses versions. Beaucoup d’entreprises recherchent cette compétence aujourd’hui.</p>
                                <p>Fort de mon expérience actuelle, je recommande vivement aux débutants de se familiariser avec <b>Git</b> en exploitant des ressources telles que les vidéos YouTube. La chaîne <a href="https://www.youtube.com/c/gravenilvectuto">Graven - Développement</a>, par exemple, propose des explications claires sur le fonctionnement de <b>Git</b> dans un contexte de projet. En complément, le jeu <a href="https://ohmygit.org/">Oh My Git</a> offre une approche ludique pour apprendre à utiliser les commandes <b>Git</b>. Ces ressources rendent l'apprentissage de <b>Git</b> plus accessible et engageant, ce qui est particulièrement bénéfique pour ceux qui débutent dans ce domaine.</p>

                                <h3>Évolution compétence</h3>
                                <p>L'utilisation quotidienne de <b>Git</b> dans mes projets actuels est une pratique régulière pour moi, mais je suis conscient que je suis toujours en phase d'apprentissage. Face à la diversité des commandes disponibles dans <b>Git</b>, je me retrouve souvent à consulter la documentation pour exécuter des commandes moins familières. Mon objectif est de me perfectionner en apprenant une plus grande variété de commandes <b>Git</b>, ce qui, je le sais, contribuera à accélérer mon processus de développement.
                                </p>
                                <p>Pour atteindre cet objectif, je prévois de m'engager dans un processus d'auto-formation ciblé sur <b>Git</b> et ses aspects les plus complexes. Je compte notamment suivre des tutoriels vidéo sur YouTube, et je suis particulièrement intéressé par les contenus proposés par la chaine Grafikart. Ces ressources spécialisées offrent un apprentissage approfondi et pratique de <b>Git</b>, me permettant ainsi d'élargir mon répertoire de compétences et d'améliorer mon efficacité en tant que développeur.

                                </p>
                            </div>

                            <div class="article-footer">
                                <div class="article-tags">
                                    <p style="font-size: 19px;">Réalisations associées</p>

                                    <a routerLink="/realisations/comptage-btob" style="color: #c9ab81;">Comptage BTOB</a> /
                                    <a routerLink="/realisations/e-pop" style="color: #c9ab81;">E-pop</a> /
                                    <a routerLink="/realisations/maestro" style="color: #c9ab81;">Maestro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-area">
            <div class="container">
                <div class="footer-content">
                    <div class="logo">
                        <a routerLink="/home-seven">
                            <img src="assets/img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="footer-contact-info">
                        <ul>
                            <li><i class="ri-map-pin-line"></i> <a href="#" target="_blank">35 Rue de Marseille, 44800
                                    Saint
                                    Herblain</a></li>
                            <li style="padding-right: 0;"><i class="ri-phone-line"></i> <a href="tel:+33778245715">07 78
                                    24 57
                                    15</a></li>
                            <li style="padding-left: 35px;"><i class="ri-mail-line"></i> <a href="mailto:Yohanbrau.pro@gmail.com">Yohanbrau.pro@gmail.com</a></li>
                        </ul>
                    </div>

                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/Yohan-brau-899a2617a/" target="_blank">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <p>Copyright <i class="ri-copyright-line"></i>2021 Placid. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>

                <div class="line"></div>
            </div>
        </footer>
    </div>
</div>
<!-- End Main Container Area -->