<!-- Start Main Container Area -->
<div class="main-container">
    <aside id="placid-aside" class="placid-aside bg-0f1d22">
        <div class="logo">
            <a class="navbar-brand" routerLink="/home">
                <span style="color:aliceblue">Yohan</span>
                <span style="color:#c9ab81"> Brau</span>
            </a>

        </div>

        <div class="d-table">
            <div class="d-table-cell">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/home">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#about">A propos de moi</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#services">Compétences</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#portfolio">Réalisations</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="aside-footer">
            <a href="/home#contact" class="default-btn">Me contacter</a>
        </div>

        <div class="line"></div>
    </aside>

    <div id="main-content" class="main-content">

        <div class="responsive-burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <section class="blog-details-area ptb-90 bg-0f1d22">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="blog-details-desc">
                            <div class="article-image">
                                <img style="filter: brightness(0.9);" src="assets/img/competence/gestion_projet.jpg" alt="image">
                            </div>

                            <div class="article-content">
                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <i class="ri-folder-2-line"></i>
                                            <span>Compétence</span>
                                            <a href="/home#services">Humaine</a>
                                        </li>
                                        <li>
                                            <i class="ri-group-2-line"></i>
                                            <span>Niveau d'expertise</span>
                                            <a>Confirmé</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                                <h2 style="color:white">Gestion de projet</h2>

                                <p>La gestion de projet en informatique est un domaine crucial qui combine les principes de la gestion de projet avec les spécificités du développement logiciel et des systèmes informatiques. Ce champ d’activité englobe la <u>planification</u>, <u>l’organisation</u>, la <u>coordination</u> et la <u>supervision</u> de projets informatiques, allant de la création d'applications logicielles à la mise en œuvre de systèmes informatiques complexes.
                                </p>
                               
                                <p>Au cœur de cette discipline se trouve la nécessité de jongler avec divers éléments clés tels que les besoins des utilisateurs, les contraintes de temps et de budget, les ressources technologiques et humaines, ainsi que les risques potentiels. La gestion de projet en informatique requiert une compréhension approfondie non seulement des technologies impliquées, mais aussi des méthodes de gestion efficaces pour assurer le succès du projet.</p>
                               
                                <p>Avec l'évolution rapide des technologies, les gestionnaires de projets informatiques doivent rester à l'avant-garde des tendances actuelles et anticiper les défis futurs, tout en assurant une communication fluide entre toutes les parties prenantes. La flexibilité, la réactivité et la capacité à prendre des décisions éclairées sont des compétences essentielles pour tout gestionnaire de projet dans ce secteur dynamique et souvent imprévisible.</p>

                                <h3>Mise en oeuvre</h3>
                                <p>Dès le début de ma formation à Intech, j'ai plongé dans l'univers de la gestion de projet. Mon initiation a débuté avec la Gestion de Projet Traditionnelle, une approche en cascade où, en tant que chef de projet, j'interprétais et transformais les besoins du client en code fonctionnel. Cependant, ce n'est qu'au fil de mes études que j'ai effleuré la surface de ces méthodes.
                                </p>
                                <p>C'est lors de mon stage chez <a href="https://www.cgi.com/en">CGI</a> que j'ai véritablement saisi la complexité de cette approche. Chez <a href="https://www.cgi.com/en">CGI</a>, la gestion de projet traditionnelle impliquait une dynamique client-équipe claire, où le manager, en tant que pivot central, orchestré la planification, la coordination, l'allocation des ressources et la supervision de l'équipe. La communication était essentielle, couvrant le suivi de l'avancement, la gestion des risques, les décisions stratégiques et les évaluations post-projet.</p>
                                <p>Le rôle du chef de projet, centré sur la conduite de l'équipe vers le succès, et celui de l'analyste, interprétant les exigences du client, étaient tout aussi cruciaux. Les développeurs, quant à eux, étaient chargés de transformer ces directives en solutions concrètes, dans un cadre souvent restrictif et sous la pression des délais.</p>
                                <p>Mon immersion dans la méthodologie Agile lors de mon quatrième semestre a marqué un tournant. En tant que <a href="
                                    https://www.qrpinternational.fr/blog/glossaire/scrum-master-definition-role-responsabilites-et-competences/#:~:text=Le%20Scrum%20Master%20est%20un,et%20aux%20r%C3%A8gles%20de%20Scrum. ">Scrum Master</a>, j'ai été le moteur d'une équipe Scrum, instaurant des sessions de <a href="https://fr.wikipedia.org/wiki/Planning_poker">poker planning</a> pour affiner les user stories. Mon objectif était de catalyser la collaboration et de veiller au succès du projet à travers un environnement propice à l'inovation et à la communication ouverte.</p>
                                <p>Durant mon année d'alternance, j'ai affiné mes compétences en gestion de projet Agile. J'ai pris en charge des sessions hebdomadaires de raffinement du backlog, encourageant une planification collaborative. En gérant mon propre tableau Jira, j'ai souligné l'importance de la responsabilité individuelle, enrichissant ainsi ma compréhension de la gestion de projet agile et démontrant l'impact de l'engagement personnel sur le succès collectif.</p>
                                
                                <h3>Maîtrise</h3>
                                <p>Actuellement, je me positionne à un niveau <u>confirmé</u> en matière de gestion de projet, un statut que j'ai atteint grâce à mes projets d'école sur une période de cinq ans. Mes stages et alternances ont joué un rôle clé dans ce développement, me permettant de passer du statut d’initié à celui de confirmé. Je suis conscient qu'il y a encore du chemin à parcourir pour atteindre une maîtrise totale. Selon mon expérience, la gestion de projet est un élément vital pour la réussite d'un projet informatique. Je conseille vivement l'adoption de la gestion de projet agile, surtout pour sa flexibilité et son accueil favorable auprès des développeurs, comparée à la gestion de projet en cycle en V.
                                </p>
                                <p>Pour les débutants, je recommande vivement de se plonger dans les principes de la gestion de projet via des ressources comme les vidéos YouTube. La chaîne de <a href="https://www.youtube.com/@BacheletRemi">Rémi Bachelet</a>, par exemple, démystifie ce domaine avec clarté. De plus, le livre <a href="https://www.eyrolles.com/Entreprise/Livre/l-essentiel-de-la-gestion-de-projet-9782297260954/">l'essentiel de la gestion de projet</a> de Roger Aïm, avec son approche ludique, offre une excellente introduction aux différentes méthodes de gestion de projet. Ces outils ont grandement facilité mon apprentissage, rendant les concepts complexes plus accessibles et engageants, ce qui est essentiel pour les novices.
                                </p>
                               

                                <h3>Évolution compétence</h3>
                                <p>L'intégration quotidienne de la gestion de projet dans mon travail est devenue une norme pour moi, mais je suis pleinement conscient que mon parcours d'apprentissage est loin d'être terminé. Mon ambition principale est de parfaire mes compétences en gestion de projet agile, non seulement pour améliorer mes propres méthodes de travail, mais aussi pour pouvoir offrir conseils et assistance à mes futurs collègues.
                                </p>
                                <p>Pour atteindre cet objectif ambitieux, je me suis lancé dans un programme d'auto-formation ciblé sur les aspects les plus complexes de la gestion de projet agile. Je prévois de suivre des séries de tutoriels vidéo, en particulier ceux proposés par la chaîne de Rémi Bachelet sur YouTube. Ces ressources spécialisées sont inestimables, car elles offrent un apprentissage pratique et en profondeur. J'espère que cette démarche me permettra non seulement d'élargir mon éventail de compétences, mais aussi d'améliorer significativement mon efficacité en tant que développeur. À travers ce processus, je suis particulièrement impatient de découvrir comment je peux appliquer ces nouvelles connaissances pour optimiser la gestion de projets complexes et pour surmonter les défis spécifiques liés à la collaboration en équipe dans un environnement agile.</p>
                            </div>

                            <div class="article-footer">
                                <div class="article-tags">
                                    <p style="font-size: 19px;">Réalisations associées</p>

                                    <a routerLink="/realisations/geco" style="color: #c9ab81;">GECO</a> /

                                    <a routerLink="/realisations/inov" style="color: #c9ab81;">Inov</a> /
                                    <a routerLink="/realisations/tenue-de-compte" style="color: #c9ab81;">Tenue de compte</a> /
                                    <a routerLink="/realisations/cinetech" style="color: #c9ab81;">Cinetech</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-area">
            <div class="container">
                <div class="footer-content">
                    <div class="logo">
                        <a routerLink="/home-seven">
                            <img src="assets/img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="footer-contact-info">
                        <ul>
                            <li><i class="ri-map-pin-line"></i> <a href="#" target="_blank">35 Rue de Marseille, 44800
                                    Saint
                                    Herblain</a></li>
                            <li style="padding-right: 0;"><i class="ri-phone-line"></i> <a href="tel:+33778245715">07 78
                                    24 57
                                    15</a></li>
                            <li style="padding-left: 35px;"><i class="ri-mail-line"></i> <a href="mailto:Yohanbrau.pro@gmail.com">Yohanbrau.pro@gmail.com</a></li>
                        </ul>
                    </div>

                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/Yohan-brau-899a2617a/" target="_blank">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <p>Copyright <i class="ri-copyright-line"></i>2021 Placid. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>

                <div class="line"></div>
            </div>
        </footer>
    </div>
</div>
<!-- End Main Container Area -->