<!-- Start Main Container Area -->
<div class="main-container">
    <aside id="placid-aside" class="placid-aside bg-0f1d22">
        <div class="logo">
            <a class="navbar-brand" routerLink="/home">
                <span style="color:aliceblue">Kevin</span>
                <span style="color:#c9ab81"> Brau</span>
            </a>

        </div>

        <div class="d-table">
            <div class="d-table-cell">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/home">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#about">A propos de moi</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#services">Compétences</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#portfolio">Réalisations</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="aside-footer">
            <a href="/home#contact" class="default-btn">Me contacter</a>
        </div>

        <div class="line"></div>
    </aside>

    <div id="main-content" class="main-content">

        <div class="responsive-burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <section class="blog-details-area ptb-90 bg-0f1d22">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="blog-details-desc">
                            <div class="article-image">
                                <img style="filter: brightness(0.9);" src="assets/img/competence/php.png" alt="image">
                            </div>

                            <div class="article-content">
                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <i class="ri-folder-2-line"></i>
                                            <span>Compétence</span>
                                            <a href="/home#services">Technique</a>
                                        </li>
                                        <li>
                                            <i class="ri-group-2-line"></i>
                                            <span>Niveau d'expertise</span>
                                            <a>Confirmé</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                                <h2 style="color:white">PHP</h2>

                                <p>PHP est un langage de programmation qui a été mis au point en 1994 par <u><a href="https://fr.wikipedia.org/wiki/Rasmus_Lerdorf">Rasmus Lerdorf</a></u>. C’est un <b>langage interprété</b> (un langage de script) exécuté
                                    du côté serveur et non du côté client.
                                </p>

                                <p>Ce qui le différencie des autres langages web c’est qu’il permet la création de site web dynamique et non statique. Un site web statique signifie que vous verrez le même contenu à chaque fois. Alors qu’un site web dynamique
                                    modifie son contenu et s’adapte à ses utilisateurs à travers diverses formes d’interactions. PHP veille à ce que le <u><a href="https://fr.wikipedia.org/wiki/Code_source#:~:text=En%20informatique%2C%20le%20code%20source,un%20ensemble%20de%20fichiers%20texte.">code source</a></u>                                    soit transformé en pages Web.
                                </p>

                                <p>On peut constater l’importance de PHP dans la création d’applications par exemple <b>Facebook</b> qui a utilisé ce langage de programmation à ses débuts. Facebook utilise aujourd’hui un autre langage de programmation qui
                                    se nomme
                                    <u><a href="https://fr.wikipedia.org/wiki/Hack_(langage)">Hack</a></u>, langage qui s’inspire fortement de PHP.</p>

                                <p>Une étude du mois <u>Juin 2022</u> démontre que PHP est utilisé par <u>77,9%</u> des sites web avec un langage de programmation coté serveur, soit 8 sites web sur 10.</p>

                                <h3>Mise en oeuvre</h3>
                                <p>C’est lors de mon deuxième semestre à IN’TECH que j’ai pu découvrir le langage de programmation PHP. J’ai pu mettre en pratique ce langage pour le projet <u><a href="/realisations/e-pop">E-pop</a></u>. J’avais pour mission
                                    de développer un formulaire permettant de créer une troupe de danse. Les données inscrites par l’utilisateur devaient ensuite être sauvegardées dans une base de données. Sauf qu’à ce moment de ma formation je débutais
                                    sur le langage et je rencontrais des difficultés pour comprendre comment manipuler les données que je recevais par le formulaire pour ensuite les insérer dans une base de données.</p>

                                <p>Après quelques tentatives j’arrivais bien à sauvegarder les informations du formulaire en base de données sauf que l’utilisateur pouvait rentrer n’importe quelle valeur dans les champs du formulaire. Pour éviter tout risque
                                    de sécurité, j’ai alors mis en place des systèmes de <u><a href="https://fr.wikipedia.org/wiki/Expression_r%C3%A9guli%C3%A8re">REGEX</a></u> me permettant de filtrer les données et de les valider avant l’insertion en
                                    BDD.
                                </p>

                                <p>Plus récemment, pour le projet de <u><a href="/realisations/comptage-btob">Comptage BTOB</a></u>, j’ai eu l’opportunité de découvrir le nombre impressionnant de bibliothèques disponibles pour PHP. Ces bibliothèques mettent
                                    à la disposition du développeur des fonctions, constantes et classes prêtes à l’emploi, utiles pour développer rapidement.
                                </p>
                                <p>En effet lors du développement de l’outil BTOB, j’avais pour mission de créer des rapports de comptage en Excel. Pour ce faire j’ai utilisé la bibliothèque « PHPEXCEL » qui m’a permis de créer des fichiers Excel dynamiquement.</p>

                                <p>La création de ces fichiers Excel n’était pas aussi simple puisqu’il fallait comprendre l’utilisation de la bibliothèque et l’adapter à mon projet. Après plusieurs essais j’ai pu créer un fichier Excel avec les informations
                                    nécessaires.
                                </p>

                                <p>Aujourd’hui l’application de comptage BTOB utilise encore cette bibliothèque pour générer ses rapports de comptage.</p>

                                <h3>Maitrise</h3>
                                <p>Pour l’utilisation du langage PHP, j’estime être <u>confirmé</u>. Lors de mon apprentissage avec le langage, pendant ma formation à IN’TECH, je n’ai pas profité pleinement de sa puissance puisque je ne l’ai utilisé que
                                    sur un seul de mes projets. Mais par la suite, j’ai pu pratiquer ce langage sur de nombreux projets, principalement des projets professionnels durant mon stage de semestre 6 au sein d’AgenceMD.
                                </p>
                                <p>Grâce à ce langage, j’ai pu me rendre compte du potentiel qu’avaient les <u>bibliothèques</u> pour simplifier le travail du développeur. En plus de ça, PHP est un langage facile à apprendre de par ses nombreuses documentations
                                    que l’on peut retrouver en ligne.</p>
                                <p>Il est conseillé pour un expert en ingénierie du logiciel de savoir développer des applications avec PHP puisque comme je l’ai présenté précédemment, de nombreuses applications utilise PHP. Ce qui va sans dire que les entreprises
                                    recherchent en général un développeur sachant utiliser ce langage.</p>
                                <p>Avec l’expérience que j’ai aujourd’hui, je conseille de ne pas hésiter à se procurer un livre comme par exemple le livre « PHP 8 : Développez un site web dynamique et interactif ». Cela vous permettra d’affiner vos connaissances
                                    sur PHP. En plus de ça vous pouvez apprendre ce langage par le biais de site comme « CodeWars ». C’est une plateforme gratuite qui permet de s’entraîner à coder (notions principalement algorithmiques) dans différents
                                    langages informatiques de manière ludique.</p>

                                <h3>Évolution compétence</h3>
                                <p>Je voudrais aujourd’hui perfectionner cette compétence par le biais de projets personnels. J’avais comme projet de créer une application de « To-do List » me permettant de garder un œil sur mes taches personnelles à réaliser
                                    au quotidien. Cela me permettra de pratiquer et de gagner en compétence.
                                </p>
                                <p>En plus de réaliser un projet personnel, je souhaiterais assister au forum PHP 2022 pour rencontrer des professionnels et acquérir leurs connaissances.</p>
                                <p>Lien de la conférence : <u><a href="https://event.afup.org/">Event-afup</a></u></p>
                            </div>

                            <div class="article-footer">
                                <div class="article-tags">
                                    <p style="font-size: 19px;">Réalisations associées</p>

                                    <a routerLink="/realisations/comptage-btob" style="color: #c9ab81;">Comptage BTOB</a> /
                                    <a routerLink="/realisations/e-pop" style="color: #c9ab81;">E-pop</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-area">
            <div class="container">
                <div class="footer-content">
                    <div class="logo">
                        <a routerLink="/home-seven">
                            <img src="assets/img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="footer-contact-info">
                        <ul>
                            <li><i class="ri-map-pin-line"></i> <a href="#" target="_blank">35 Rue de Marseille, 44800
                                    Saint
                                    Herblain</a></li>
                            <li style="padding-right: 0;"><i class="ri-phone-line"></i> <a href="tel:+33778245715">07 78
                                    24 57
                                    15</a></li>
                            <li style="padding-left: 35px;"><i class="ri-mail-line"></i> <a href="mailto:kevinbrau.pro@gmail.com">kevinbrau.pro@gmail.com</a></li>
                        </ul>
                    </div>

                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/kevin-brau-899a2617a/" target="_blank">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <p>Copyright <i class="ri-copyright-line"></i>2021 Placid. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>

                <div class="line"></div>
            </div>
        </footer>
    </div>
</div>
<!-- End Main Container Area -->