<!-- Start Main Container Area -->
<div class="main-container">
    <aside id="placid-aside" class="placid-aside bg-0f1d22">
        <div class="logo">
            <a class="navbar-brand" routerLink="/home">
                <span style="color:aliceblue">Yohan</span>
                <span style="color:#c9ab81"> Brau</span>
            </a>

        </div>

        <div class="d-table">
            <div class="d-table-cell">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/home">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#about">A propos de moi</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#services">Compétences</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#portfolio">Réalisations</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="aside-footer">
            <a href="/home#contact" class="default-btn">Me contacter</a>
        </div>

        <div class="line"></div>
    </aside>

    <div id="main-content" class="main-content">

        <div class="responsive-burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <section class="blog-details-area ptb-90 bg-0f1d22">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="blog-details-desc">
                            <div class="article-image">
                                <img style="filter: brightness(0.9);" src="assets/img/competence/react.png" alt="image">
                            </div>

                            <div class="article-content">
                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <i class="ri-folder-2-line"></i>
                                            <span>Compétence</span>
                                            <a href="/home#services">Technique</a>
                                        </li>
                                        <li>
                                            <i class="ri-group-2-line"></i>
                                            <span>Niveau d'expertise</span>
                                            <a>Confirmé</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                                <h2 style="color:white">React Native</h2>

                                <p><b>React Native</b>, développé par Facebook en 2015, est un framework open source qui a révolutionné le développement d'applications mobiles. Basé sur React, connu pour ses interfaces utilisateur dynamiques et interactives sur le web, React Native étend cette puissance au domaine mobile. Il permet aux développeurs d'utiliser JavaScript pour construire des applications mobiles natives, adoptant la philosophie 'Write once, run anywhere'. Cette approche permet une portabilité du code entre iOS et Android, simplifiant ainsi le développement cross-platform.
                                </p>

                                <p>L'efficacité de développement est une des raisons clés pour lesquelles <b>React Native</b> a conquis le marché. En facilitant la réutilisation du code entre différentes plateformes, les développeurs peuvent économiser un temps précieux, réduisant ainsi les coûts et accélérant le lancement des applications sur le marché. Cela représente un avantage considérable pour les entreprises cherchant à optimiser leurs ressources.
                                </p>

                                <p>En outre, <b>React Native</b> se distingue par sa performance et la fluidité de l'expérience utilisateur qu'il offre. Grâce à son architecture sophistiquée, il est possible de créer des interfaces utilisateurs réactives et optimisées, rivalisant avec la qualité des applications natives développées en Swift ou Java/Kotlin.</p>

                               
                               
                                <h3>Mise en oeuvre</h3>
                                <p>Mon parcours d'apprentissage en <b>React Native</b> a débuté en mars 2023, me lançant dans le double défi de développer pour les plateformes mobiles et web. Cette approche a significativement complexifié la gestion de la responsive design de notre application, un obstacle que j'étais déterminé à surmonter. Pour me préparer à ce défi, j'ai suivi plusieurs formations en ligne, ce qui m'a rapidement conduit à rejoindre l'équipe Innov chez CGI. Là, j'ai eu l'occasion de travailler sur mon premier projet majeur, 'Événement', une application destinée à informer les employés sur les activités et événements de l'entreprise. Cette application visait à simplifier la communication interne avec une solution à la fois pratique et efficace.</p>

                                <p>Travailler sur <b>Événement</b> a été une expérience formatrice, marquant ma première immersion dans le monde de <b>React Native</b>. Initialement, les concepts de base comme les <a href="https://fr.legacy.reactjs.org/docs/components-and-props.html">props</a> et les <a href="https://legacy.reactjs.org/docs/hooks-state.html">useState</a> étaient pour moi des notions complexes. Mon premier défi technique a été de créer un composant <b>UserSearchManager</b> : 
                                </p>
                                <div class="services-details-image">
                                    <img src="assets/img/competence/userSearch.png" alt="image">
                                </div>
                              
                                <p>C’est une interface permettant la recherche et la sélection d'utilisateurs. Ce composant affiche des informations détaillées sur un utilisateur sélectionné et offre une fonctionnalité de retour à la recherche. Malgré la difficulté initiale, cette tâche s'est révélée être un tournant décisif dans mon apprentissage : en développant ce composant, j'ai pleinement compris l'importance et la fonctionnalité des <b>useState</b> et des <b>props</b>.
                                    Ce projet m'a offert une occasion exceptionnelle de saisir la puissance inhérente à <b>React Native</b>, en particulier dans le domaine de la création et de la réutilisation des composants. L'un des moments les plus marquants de mon expérience a été la conception de mon premier composant, un bouton uniforme utilisé à travers toute l'application : 
                                    </p>
                                    <div class="services-details-image">
                                        <img src="assets/img/competence/customButton.png" alt="image">
                                    </div>

                               
                                <p>Cette réalisation m'a conduit à l'idée d'élaborer un composant standardisé, assurant une cohérence absolue dans l'interface utilisateur. Cette initiative n'a pas seulement permis d'optimiser le temps de développement, mais a également contribué à améliorer les performances globales de l'application.
                                    De plus, cette démarche a eu un impact significatif sur la réduction de l'empreinte écologique de l'application. Dans le contexte actuel, où la durabilité est un enjeu majeur, intégrer ces considérations dans le développement logiciel est devenu essentiel. Ainsi, cette expérience a joué un rôle crucial dans mon développement professionnel, renforçant ma compréhension de <b>React Native</b> et soulignant son rôle dans la création d'applications à la fois efficaces et respectueuses de l'environnement.
                                    En définitive, travailler sur ce projet a été une étape déterminante, m'apportant une connaissance approfondie de <b>React Native</b> et de son potentiel à transformer la manière dont nous abordons le développement logiciel, en le rendant plus efficace, performant et écologiquement responsable.
                                    </p>


                                <h3>Maîtrise</h3>
                                <p>Après avoir contribué à trois projets professionnels en <b>React Native</b>, je me considère désormais comme un développeur confirmé dans ce domaine. Ma progression rapide dans la maîtrise de React Native a été facilitée par sa similitude avec d'autres langages que je connaissais déjà, tels que <b>JavaScript</b> et <b>PHP</b>, malgré ses différences notables dans l'approche et l'application. Un facteur clé de cette montée en compétence a été la présence d'une communauté très active et solidaire, qui a grandement enrichi mon parcours d'apprentissage.
                                </p>
                                <p>Je suis convaincu que <b>React Native</b> est un langage porteur d'avenir dans le développement d'applications mobiles. Pour ceux qui souhaitent se lancer dans l'apprentissage de React Native, je recommande vivement de suivre des formations en ligne. Des plateformes comme <a href="https://openclassrooms.com/fr/">OpenClassroom</a>, qui ont été d'une grande aide pour moi, offrent des cours structurés permettant de saisir les fondamentaux du langage. Grâce à ces formations, vous pourrez acquérir et comprendre les bases essentielles pour débuter efficacement dans le monde de React Native.</p>

                                <h3>Évolution compétence</h3>
                              
                                <p>Dans mes aspirations professionnelles à court terme, j'envisage de me plonger plus profondément dans le monde de <b>React Native</b>. Mon objectif est de rejoindre un nouveau projet utilisant ce framework, ce qui me permettrait d'élargir encore davantage mes connaissances et d'affiner mes compétences techniques. Je suis convaincu que l'expérience pratique supplémentaire acquise dans un contexte de projet réel me donnera les outils nécessaires pour non seulement améliorer ma performance, mais aussi me rapprocher de mon objectif qui est de devenir expert en <b>React Native</b>.
                                </p>
                                <p>Cette démarche s'inscrit dans une volonté d'approfondissement continu et d'excellence dans le domaine du développement mobile. Je suis enthousiaste à l'idée d'explorer de nouveaux défis, d'adopter des techniques avancées et de rester à la pointe des dernières évolutions de <b>React Native</b>.</p>
                            </div>

                            <div class="article-footer">
                                <div class="article-tags">
                                    <p style="font-size: 19px;">Réalisations associées</p>

                                    <a routerLink="/realisations/comptage-btob" style="color: #c9ab81;">Comptage BTOB</a> /
                                    <a routerLink="/realisations/e-pop" style="color: #c9ab81;">E-pop</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-area">
            <div class="container">
                <div class="footer-content">
                    <div class="logo">
                        <a routerLink="/home-seven">
                            <img src="assets/img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="footer-contact-info">
                        <ul>
                            <li><i class="ri-map-pin-line"></i> <a href="#" target="_blank">35 Rue de Marseille, 44800
                                    Saint
                                    Herblain</a></li>
                            <li style="padding-right: 0;"><i class="ri-phone-line"></i> <a href="tel:+33778245715">07 78
                                    24 57
                                    15</a></li>
                            <li style="padding-left: 35px;"><i class="ri-mail-line"></i> <a href="mailto:Yohanbrau.pro@gmail.com">Yohanbrau.pro@gmail.com</a></li>
                        </ul>
                    </div>

                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/Yohan-brau-899a2617a/" target="_blank">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <p>Copyright <i class="ri-copyright-line"></i>2021 Placid. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>

                <div class="line"></div>
            </div>
        </footer>
    </div>
</div>
<!-- End Main Container Area -->