<!-- Start Main Container Area -->
<div class="main-container">
    <aside id="placid-aside" class="placid-aside bg-0f1d22">
        <div class="logo">
            <a class="navbar-brand" routerLink="/home">
                <span style="color:aliceblue">Kevin</span>
                <span style="color:#c9ab81"> Brau</span>
            </a>

        </div>

        <div class="d-table">
            <div class="d-table-cell">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/home">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#about">A propos de moi</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#services">Compétences</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#portfolio">Réalisations</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="aside-footer">
            <a href="/home#contact" class="default-btn">Me contacter</a>
        </div>

        <div class="line"></div>
    </aside>

    <div id="main-content" class="main-content">

        <div class="responsive-burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <section class="blog-details-area ptb-90 bg-0f1d22">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="blog-details-desc">
                            <div class="article-image" style="display: flex;
                            justify-content: center;background-color: #9b96963d;">
                                <img style="filter: brightness(0.9);width: 58%;" src="assets/img/works/img3.jpg" alt="image">
                            </div>

                            <div class="article-content">

                                <h2 style="color:white">Bud'Jet</h2>

                                <p><b>Bud’jet</b> est un projet de formation humaine réalisé lors de mon semestre 4 avec six de mes camarades. Le but de ce projet était de se déplacer dans différentes villes de notre choix afin d’établir un réseau de contact
                                    professionnel pour préparer un futur stage. Pour réaliser ce projet, nous avons organisé un vide grenier à Tercis-les-Bains le <b>15 Février 2020</b>.
                                </p>

                                <h3>Contexte</h3>

                                <p>Lors de ce semestre nous devions trouver un projet avec comme objectif principal, <b>établir un budget pour financer sa réalisation</b>. Le choix du projet était libre. Nous avons alors réfléchi à plusieurs idées de projet
                                    mais une a retenu notre attention, <u><b>Étendre notre réseau au moyen de différents voyages dans les villes de nos choix</b></u>. Les 6 mois de stage approchant à grand pas, Il était important pour nous de nous préparer
                                    un réseau de contact professionnel.
                                </p>
                                <p>Pour réaliser un projet avec de multiples voyages, il est nécessaire de se fixer des objectifs viables et durables. Pour ce faire, nous avons dégagé 4 objectifs, réaliser un budget pour avoir une vision globale du financement
                                    du projet, préparer les voyages, contacter les entreprises pour se créer un carnet de contacts professionnels et récolter les fonds nécessaires pour la réalisation du projet.
                                </p>
                                <p>Il existait des risques face à un projet de cette envergure. Le premier et le plus important était que nous ne parvenions pas à récolter les fonds nécessaires pour le projet. En effet sans financement nous ne pouvions pas
                                    partir dans les villes de nos choix pour créer des contacts professionnels. Le deuxième risque était que nous estimions mal le budget nécessaire pour le projet, ce qui remettrait en cause toute la faisabilité du projet.</p>

                                <h3>Préparation du vide grenier</h3>
                                <p>Pour récolter les fonds nécessaires au projet, il nous fallait étudier des méthodes de financement. L’idée que nous avons eu était <b><u>d’organiser et animer un vide grenier</u></b>.</p>
                                <p>Pour ce faire il nous fallait trouver une mairie qui serait d’accord pour accueillir ce genre d’activité. <b>Tercis-les-Bains</b> a accepté notre demande pour accueillir l’évènement dans sa salle des fêtes le <u>15 Février
                                    2020</u>. Suite à ça, une course contre-la-montre a alors démarré, nous devions impérativement organiser le vide grenier avant le jour J.</p>
                                <p>Il était nécessaire de publier l’annonce de l’évènement pour attirer les futurs exposants et visiteurs. J’ai alors publié une annonce sur des sites spécialisés en organisation de vide grenier comme par exemple <u><a href="https://vide-greniers.org/">Vide-Greniers.org</a></u>                                    ou encore <u><a href="https://brocabrac.fr/">Brocabrac</a></u>. Il était important de bien remplir les annonces de notre événement pour toucher le maximum de public possible. Dans ces annonces, j’ai laissé mon numéro
                                    personnel pour que les exposants intéressés par l’évènement puissent nous contacter.</p>
                                <p>Cela nous a donné la possibilité de créer une liste d’exposants nous permettant de regrouper tous les futurs exposants avec diverses informations les concernant, le nombre de mètres qu’ils veulent louer, des emplacements
                                    précis, les moyens de contact, etc…</p>
                                <p>Pour donner un ordre d’idée, le prix du mètre était de <b>4€</b>. En plus de se financer par les places d’exposants, nous avions décidé de faire la restauration pour la journée avec des ventes de boissons et de snacking.</p>

                                <div class="services-details-image">
                                    <img src="assets/img/realisation/budjet1.jpg" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple de la liste des exposants</i></small>
                                </div>
                                <p>Après avoir obtenu le nombre précis d’exposants, nous avons pu créer un plan précis de la salle qui allait accueillir l’évènement.</p>
                                <p>Pour préparer le plan, j’ai pris l’initiative de prendre des photos de la salle pour nous aider à bien définir le plan avec des dimensions réalistes.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/budjet2.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Photos de la salle</i></small>
                                </div>
                                <p>Avec ces photos nous avons pu définir le nombre de tables nécessaires à disposer pour les exposants. Le plus dur ici, était de placer les exposants suivant les demandes qu’ils avaient faites lors de leurs inscriptions.
                                    Par exemple placer un exposant près des toilettes, ou alors près des gradins gauches.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/budjet3.jpg" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple du plan final</i></small>
                                </div>
                                <p>Avec l’aide de mon camarade Thibaut, nous avons défini le plan final des différents positionnements des futurs exposants grâce aux informations que nous avions pu récolter lors de l’inscription des exposants.</p>
                                <p>Pour préparer l’organisation du jour J, il nous fallait aussi discuter de la répartition de nos ressources (membres du projet) et comment nous allions gérer le public lors de l’événement. Pour ce faire nous nous sommes
                                    répartis les tâches en amont pour ne pas perdre de temps lors du jour J.</p>

                                <h3>Le budget</h3>
                                <p>Après avoir défini l’évènement que nous voulions organiser ainsi que le nombre d’exposants que nous allions avoir, nous avons pu nous pencher sur la création du budget.
                                </p>
                                <p>Pour ce projet, nous avons dû réaliser deux types de budgets, un budget lié au voyage et un budget lié au vide grenier. J’ai réalisé, avec l’aide de Jean Baptiste, le budget lié au voyage. Un budget sert à estimer les coûts
                                    d’un projet et les rentrées d’argent. Pour ce faire, je devais estimer les différents coûts de nos voyages en prenant en compte les déplacements, la restauration, l’hébergement et les déplacements sur places. J’ai ensuite
                                    estimé les résultats de notre événement, ce qui a permis de repartir les charges et les produits.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/budjet4.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple du budget</i></small>
                                </div>

                                <h3>Le jour J</h3>
                                <p>L’évènement commençant à <u>9h</u>, nous avons dû organiser la salle en plaçant tous les stands suivant le plan défini. Une fois fait, nous nous sommes réparti les tâches pour accueillir les exposants. Deux personnes sur
                                    le parking pour fluidifier l’entrée au parking, deux personnes pour accueillir les exposants et diriger à leurs stands et deux autres en cuisine pour commencer à servir les boissons chaudes et snacks.</p>
                                <p>J’avais pour mission d’accueillir et de rediriger les exposants à leurs stands. Cette mission était assez complexe puisque je devais gérer une multitude d’exposants à la fois, lire le plan pour bien les placer et surtout
                                    faire face à des changements de dernières minutes de leurs parts. En effet, il est arrivé que des exposants voulait changer leurs stands de place. Je devais alors adapter le plan en fonction des nouvelles demandes pour
                                    faire rentrer tous les exposants.</p>
                                <p>Une fois l’accueil des exposants fait, nous étions très étonnés du nombre de visiteurs qui était intéressé par le snacking et les boissons. J’ai alors rejoint mes camarades en cuisine pour leur apporter mon aide.</p>

                                <h3>Créer son réseau professionnel</h3>
                                <p>L’objectif principal de ce projet était de se créer un réseau professionnel. Pour ce faire, j’ai commencé à faire des recherches sur le réseau <u><a href="https://www.linkedin.com/">LinkedIn</a></u> concernant des entreprises
                                    se situant à Bordeaux pour rassembler des informations. Je me suis alors créé un Excel regroupant toutes les entreprises qui m’intéressaient.</p>

                                <div class="services-details-image">
                                    <img src="assets/img/realisation/budjet5.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple de ma fiche entreprise</i></small>
                                </div>
                                <p>Après avoir rassemblé toutes les informations nécessaires, j’ai appelé chaque entreprise dans le but d’obtenir un rendez-vous présentiel pour postuler dans le cadre de mon <u>stage de 6 mois</u>. Pour bien préparer mes
                                    appels téléphoniques, j’ai écrit en amonts les informations que je voulais aborder. Suite à ça, j’ai pu au final obtenir 3 rendez-vous dans les entreprises que j’avais ciblées, <b>Capgemini</b>, <b>Maincare Solutions</b>                                    et <b>DotSafe</b>.</p>

                                <h3>Les résultats</h3>
                                <p>L’évènement du vide grenier était un franc succès, nous avons eu plus de visiteurs que nous attendions et les exposants étaient très contents de leur journée. Nous avons pu vendre beaucoup de boissons et nourriture lors
                                    de cette journée, ce qui nous a permis d’avoir un plus gros budget pour notre voyage à Bordeaux.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/budjet6.jpg" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;"></i></small>
                                </div>
                                <p>Le fait que le vide grenier se soit très bien déroulé, nous a permis de réaliser nos différentes rencontres avec les entreprises que nous avions contactées en amont. Suite à la rencontre avec l’entreprise <b>Capgemini</b>,
                                    je n’ai malheureusement pas pu réaliser mon stage au sein de cette entreprise mais ils m’ont accordé un entretien pour m’embaucher lors de mon alternance à <u>Nantes</u>.</p>
                                <p>Il est important de noter que ce projet a pu exister grâce à tous les membres de l’équipe <b>Bud’jet</b>. Sans une bonne cohésion le projet n’aurait pas pu se concrétiser.</p>

                                <h3>Mon auto critique</h3>
                                <p>Sur ce projet, j’ai pu apporter ma bonne humeur ce qui a permis de garder une forte cohésion entre les membres du projet jusqu’à sa réalisation. En plus de ça, j’ai su dialoguer efficacement avec tous les exposants qui
                                    nous ont contacté pendant l’organisation du vide grenier pour obtenir toutes les informations nécessaires à la création du plan de placement des exposants.</p>
                                <p>Le fait d’organiser un tel événement m’a permis de me rendre compte du travail à fournir pour le préparer. Beaucoup d’interactions ont eu lieux en amont du projet pour trouver une salle notamment avec les mairies autours
                                    de <u>Dax</u>. Il a donc fallu adapter son discours suivant les interlocuteurs. Et j’ai appris à gérer un budget et l’importance que cela avait sur un projet. Sans budget, il ne peut y avoir de vision précise sur un
                                    projet demandant un financement.</p>

                            </div>

                            <div class="article-footer">
                                <div class="article-tags">
                                    <p style="font-size: 19px;">Compétences associées</p>

                                    <a routerLink="/competences/esprit-equipe" style="color: #c9ab81;">L’esprit d’équipe</a> /
                                    <a routerLink="/competences/communication" style="color: #c9ab81;">Habiletés en communication orale</a> /
                                    <a routerLink="/competences/gestion-temps" style="color: #c9ab81;">Gestion du temps</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-area">
            <div class="container">
                <div class="footer-content">
                    <div class="logo">
                        <a routerLink="/home-seven">
                            <img src="assets/img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="footer-contact-info">
                        <ul>
                            <li><i class="ri-map-pin-line"></i> <a href="#" target="_blank">35 Rue de Marseille, 44800
                                    Saint
                                    Herblain</a></li>
                            <li style="padding-right: 0;"><i class="ri-phone-line"></i> <a href="tel:+33778245715">07 78
                                    24 57
                                    15</a></li>
                            <li style="padding-left: 35px;"><i class="ri-mail-line"></i> <a href="mailto:kevinbrau.pro@gmail.com">kevinbrau.pro@gmail.com</a></li>
                        </ul>
                    </div>

                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/kevin-brau-899a2617a/" target="_blank">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <p>Copyright <i class="ri-copyright-line"></i>2021 Placid. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>

                <div class="line"></div>
            </div>
        </footer>
    </div>
</div>
<!-- End Main Container Area -->