<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">
            <span style="color:aliceblue">Kevin</span>
            <span style="color:#c9ab81"> Brau</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="#home">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">A propos de moi</a></li>
                <li class="nav-item"><a class="nav-link" href="#services">Compétences</a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio">Réalisations</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="main-banner banner-bg1 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="main-banner-content">
                    <span class="sub-title">Portfolio</span>
                    <h1>Kevin Brau</h1>
                    <h6><span>Développeur Full stack</span></h6>
                </div>
            </div>
        </div>
    </div>

    <div class="scroll-btn">
        <a href="#about">
            <span class="mouse">
                <span></span>
            </span>
        </a>
    </div>
</div>

<section id="about" class="about-area about-style-two bg-0f1d22">
    <div class="container">
        <div class="tab about-list-tab-2">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-12">
                    <div class="tabs-list">
                        <ul class="tabs">
                            <li>A propos de moi</li>
                            <li>Compétences</li>
                            <li>Formation</li>
                            <li>Certification</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-10 col-md-12">
                    <div class="tab-content">
                        <div class="tabs-item">
                            <div class="about-inner-area">
                                <div class="row align-items-center">
                                    <div class="col-lg-7 col-md-12">
                                        <div class="about-content">
                                            <span class="sub-title">A propos de moi</span>
                                            <h2>Futur expert en ingénierie du logiciel</h2>
                                            <p>Après <b>cinq années</b> passées au sein du <a target="_blank" href="https://www.groupe-aen.info/">groupe AEN</a> il est temps pour moi de vous présenter les experiences et compétences que j'ai pu acquerir à
                                                travers mon parcours <b>scolaire</b> et <b>professionnel</b>.
                                                <br><br>Passionné d'<u>ordinateur</u> et de <u>jeux vidéo</u> depuis mon enfance, je me suis très vite intéressé au monde numerique. Mon ambition de devenir <u>développeur</u> est née de cette passion.
                                                <br><br> Le travail en équipe et avancer ensemble sur un projet, apporter mon savoir faire et rendre les taches plus conviviales grace à ma bonne humeur sont les moteurs de mon ambition.
                                                <br><br> C'est pourquoi j'ai choisis de réaliser <u>mon alternance</u> au sein de <a target="_blank" href="https://www.capgemini.com/fr-fr/">CapGemini</a> où l'on est amené à travailler en perpetuelle collaboration.
                                                Durant ces deux années d'alternance, j'ai eu la chance de découvrir et d'accroitre mes compétences professionnelles. J'y ai également découvert des qualités humaines qui me correspondent, à savoir le
                                                <b>dynamisme</b>, la <b>détermination</b>, la <b>motiviation</b> et enfin la <b>sociabilité</b>.
                                            </p>
                                            <a href="#contact" class="default-btn">Me contacter</a>
                                            <a class="default-btn" style="margin-left:10px;" href="./../../../../assets/file/CV-Kevin Brau.pdf" download>Télécharger mon CV</a>
                                        </div>
                                    </div>

                                    <div class="col-lg-5 col-md-12">
                                        <div class="about-image">
                                            <img src="assets/img/about-img1.jpg" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tabs-item">
                            <div class="skills-area">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="skills-item">
                                            <div class="skills-header">
                                                <h3 class="skills-title">Modélisation de base de données</h3>

                                                <div class="skills-percentage">
                                                    <div class="count-box"><span class="count-text" data-speed="2000" data-stop="68">0</span>%</div>
                                                </div>
                                            </div>

                                            <div class="skills-bar">
                                                <div class="bar-inner">
                                                    <div class="bar progress-line" data-width="68"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="skills-item">
                                            <div class="skills-header">
                                                <h3 class="skills-title">Conception de sites Web</h3>

                                                <div class="skills-percentage">
                                                    <div class="count-box"><span class="count-text" data-speed="2000" data-stop="75">0</span>%</div>
                                                </div>
                                            </div>

                                            <div class="skills-bar">
                                                <div class="bar-inner">
                                                    <div class="bar progress-line" data-width="75"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="skills-item">
                                            <div class="skills-header">
                                                <h3 class="skills-title">Utilisation de framework</h3>

                                                <div class="skills-percentage">
                                                    <div class="count-box"><span class="count-text" data-speed="2000" data-stop="70">0</span>%</div>
                                                </div>
                                            </div>

                                            <div class="skills-bar">
                                                <div class="bar-inner">
                                                    <div class="bar progress-line" data-width="70"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="skills-item">
                                            <div class="skills-header">
                                                <h3 class="skills-title">PHP</h3>

                                                <div class="skills-percentage">
                                                    <div class="count-box"><span class="count-text" data-speed="2000" data-stop="75">0</span>%</div>
                                                </div>
                                            </div>

                                            <div class="skills-bar">
                                                <div class="bar-inner">
                                                    <div class="bar progress-line" data-width="75"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="skills-item">
                                            <div class="skills-header">
                                                <h3 class="skills-title">Git</h3>

                                                <div class="skills-percentage">
                                                    <div class="count-box"><span class="count-text" data-speed="2000" data-stop="50">0</span>%</div>
                                                </div>
                                            </div>

                                            <div class="skills-bar">
                                                <div class="bar-inner">
                                                    <div class="bar progress-line" data-width="50"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="skills-item">
                                            <div class="skills-header">
                                                <h3 class="skills-title">Esprit d'équipe</h3>

                                                <div class="skills-percentage">
                                                    <div class="count-box"><span class="count-text" data-speed="2000" data-stop="60">0</span>%</div>
                                                </div>
                                            </div>

                                            <div class="skills-bar">
                                                <div class="bar-inner">
                                                    <div class="bar progress-line" data-width="60"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="skills-item">
                                            <div class="skills-header">
                                                <h3 class="skills-title">Gestion du temps</h3>

                                                <div class="skills-percentage">
                                                    <div class="count-box"><span class="count-text" data-speed="2000" data-stop="58">0</span>%</div>
                                                </div>
                                            </div>

                                            <div class="skills-bar">
                                                <div class="bar-inner">
                                                    <div class="bar progress-line" data-width="58"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="skills-item">
                                            <div class="skills-header">
                                                <h3 class="skills-title">Rédaction de documents utilisateurs</h3>

                                                <div class="skills-percentage">
                                                    <div class="count-box"><span class="count-text" data-speed="2000" data-stop="45">0</span>%</div>
                                                </div>
                                            </div>

                                            <div class="skills-bar">
                                                <div class="bar-inner">
                                                    <div class="bar progress-line" data-width="45"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="skills-item">
                                            <div class="skills-header">
                                                <h3 class="skills-title">Habiletés en communication orale</h3>

                                                <div class="skills-percentage">
                                                    <div class="count-box"><span class="count-text" data-speed="2000" data-stop="78">0</span>%</div>
                                                </div>
                                            </div>

                                            <div class="skills-bar">
                                                <div class="bar-inner">
                                                    <div class="bar progress-line" data-width="78"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="skills-item">
                                            <div class="skills-header">
                                                <h3 class="skills-title">Organisation et animation de réunion</h3>

                                                <div class="skills-percentage">
                                                    <div class="count-box"><span class="count-text" data-speed="2000" data-stop="70">0</span>%</div>
                                                </div>
                                            </div>

                                            <div class="skills-bar">
                                                <div class="bar-inner">
                                                    <div class="bar progress-line" data-width="70"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tabs-item">
                            <div class="experience-area">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-experience-box hover-div">
                                            <a href="https://www.groupe-aen.info/" class="hover-div">
                                                <span>2018 - Ajd (Bac +5)</span>
                                                <h3 class="hover-text">Dax (Groupe AEN)</h3>
                                                <p>Formation expert informatique BAC+5.</p>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-experience-box">
                                            <span>2017 - (PERMIS)</span>
                                            <h3>Saint Jean de Luz</h3>
                                            <p>Obtention du permis B.</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-experience-box hover-div">
                                            <a href="http://college-lycee-ravel.fr/ravel/le-lycee/" class="hover-div">
                                                <span>2017 - (BACALAURÉAT)</span>
                                                <h3 class="hover-text">MAURICE RAVEL (Saint Jean de Luz)</h3>
                                                <p>Obtention du bacalauréat Technologique (STMG) Mention assez bien.</p>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="tabs-item">
                            <div class="education-area">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-education-box">
                                            <span>2022 - (CISCO)</span>
                                            <h3>CCNA: Introduction to Networks</h3>
                                            <p>Connaissance sur les principes fondamentaux du réseau et de la sécurité, l'accès au réseau, la connectivitié IP, les services IP, l'automatisation et la programmabilité.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-education-box">
                                            <span>2021 - (AZ-900)</span>
                                            <h3>Microsoft Azure 900</h3>
                                            <p>Connaissance des concepts cloud d’Azure, des services Azure, et de la sécurité et de la confidentialité dans Azure.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tabs-item">
                            <div class="certification-area">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-certification-box">
                                            <img src="assets/img/certification/img1.png" alt="image">
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-certification-box">
                                            <img src="assets/img/certification/img2.png" alt="image">
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-certification-box">
                                            <img src="assets/img/certification/img3.png" alt="image">
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-certification-box">
                                            <img src="assets/img/certification/img4.png" alt="image">
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-certification-box">
                                            <img src="assets/img/certification/img5.png" alt="image">
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-certification-box">
                                            <img src="assets/img/certification/img6.png" alt="image">
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-certification-box">
                                            <img src="assets/img/certification/img7.png" alt="image">
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-certification-box">
                                            <img src="assets/img/certification/img8.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tabs-item">
                            <div class="interview-area">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="single-interview-video">
                                            <img src="assets/img/interview/img1.jpg" alt="image">
                                            <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"></a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="single-interview-video">
                                            <img src="assets/img/interview/img2.jpg" alt="image">
                                            <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"></a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="single-interview-video">
                                            <img src="assets/img/interview/img3.jpg" alt="image">
                                            <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"></a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="single-interview-video">
                                            <img src="assets/img/interview/img4.jpg" alt="image">
                                            <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"></a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="single-interview-video">
                                            <img src="assets/img/interview/img5.jpg" alt="image">
                                            <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"></a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="single-interview-video">
                                            <img src="assets/img/interview/img6.jpg" alt="image">
                                            <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tabs-item">
                            <div class="social-area">
                                <ul>
                                    <li><a href="#" class="facebook"><i class="ri-facebook-fill"></i><span> -
                                                Facebook</span></a></li>
                                    <li><a href="#" class="twitter"><i class="ri-twitter-line"></i><span> -
                                                Twitter</span></a></li>
                                    <li><a href="#" class="linkedin"><i class="ri-linkedin-fill"></i><span> -
                                                Linkedin</span></a></li>
                                    <li><a href="#" class="instagram"><i class="ri-instagram-line"></i><span> -
                                                Instagram</span></a></li>
                                    <li><a href="#" class="dribbble"><i class="ri-dribbble-line"></i><span> -
                                                Dribbble</span></a></li>
                                    <li><a href="#" class="behance"><i class="ri-behance-fill"></i><span> -
                                                Behance</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hire-me-area bg-0f1d22 ptb-120">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Mon parcours</span>
            <h2>Mes expériences profesionelles</h2>
        </div>
        <div class="main-timeline">

            <!-- start experience section-->
            <div class="timeline">
                <div class="icon"></div>
                <div class="date-content">
                    <div class="date-outer Capgemini">
                    </div>
                </div>
                <div class="timeline-content">
                    <h5 class="title"><a href="https://www.capgemini.com/fr-fr/" class="parcours-a">Capgemini</a><br /><small>Du 01/03/2021 à Ajd</small></h5>

                    <p class="description">
                        Développeur applicatif en tant qu'alternant.<br /> Ma mission en tant que développeur est de participer aux activités de build et de maintenance des applications du périmètre Engineering & Maintenance permettant le suivi de l’entretien
                        des avions et équipements aéronautiques. Pour cela, j’ai intégré le Centre de Service AirFrance (60 personnes) au sein de Capgemini.
                    </p>
                </div>
            </div>
            <!-- end experience section-->

            <!-- start experience section-->
            <div class="timeline">
                <div class="icon"></div>
                <div class="date-content">
                    <div class="date-outer AgenceMD">
                    </div>
                </div>
                <div class="timeline-content">
                    <h5 class="title"><a href="https://www.agencemd.com/" class="parcours-a">Agence MD</a><br /><small>Du 01/07/2019 au 28/02/2021</small></h5>
                    <p class="description">
                        Développeur applicatif en tant que stagiare<br /> La mission principale qui m’a été confié lors de mon stage à AgenceMD est la rénovation (mise à jour graphique et logique) de leurs outils actuels et la création d’outils leur permettant
                        d’améliorer leurs façons de travailler. Ce travail est un plus pour concurrencer efficacement les concurrents d’AgenceMD et pouvoir se démarquer dans son activité. Les maitres mots d’AgenceMD sont la réactivité et la spontanéité.
                        C’est pourquoi ces outils vont de pair avec leurs convictions.
                        <br />Lien vers la réalisation :<a href="#services-details"> Comptage BTOB</a>
                    </p>
                </div>
            </div>
            <!-- end experience section-->

            <!-- start experience section-->
            <div class="timeline">
                <div class="icon"></div>
                <div class="date-content">
                    <div class="date-outer">
                        <div class="date-outer McDonald">
                        </div>
                    </div>
                </div>
                <div class="timeline-content">
                    <h5 class="title"><a href="https://www.mcdonalds.fr/" class="parcours-a">McDonald's France</a><br /><small>Du 01/09/2017 au 01/02/2018</small></h5>
                    <p class="description">
                        Équipier polyvalant<br /> Travailler à McDonald en tant qu'équipier polyvalant m'a donné la possibilité de découvrir le monde du travail.
                    </p>
                </div>
            </div>
            <!-- end experience section-->

        </div>
    </div>
</section>

<section id="services" class="services-area pt-120 pb-90 bg-0f1d22">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Compétences</span>
            <h2>Mes compétences techniques</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-analysis"></i>
                    </div>
                    <h3>Modélisation de base de données</h3>
                    <span style="color:#c9ab81;margin-bottom: 5px;"><b>Niveau : Confirmé</b></span>
                    <div>
                        <p>La compétence « base de données » s’apparente au fait de pouvoir réfléchir à la conception, créer et administrer des socles de données. Cette compétence donne la possibilité à l’utilisateur de pouvoir bénéficier d’un stockage de
                            ses données...</p>
                    </div>
                    <a routerLink="/competences/base-de-donnees" class="read-more-btn">Voir plus<i
                            class="ri-arrow-right-s-line"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-result"></i>
                    </div>
                    <h3>Utilisation de Framework</h3>
                    <span style="color:#c9ab81;margin-bottom: 5px;"><b>Niveau : Confirmé</b></span>
                    <p>Un Framework peut se traduire en français par « infrastructure logicielle ». Il sert de squelette pour l’application, toute la partie technique est gérée en tache de fond. Cela permet au développeur d’être plus productif en étant concentré
                        que sur...</p>
                    <a routerLink="/competences/framework" class="read-more-btn">Voir plus<i
                            class="ri-arrow-right-s-line"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-education"></i>
                    </div>
                    <h3>PHP</h3>
                    <span style="color:#c9ab81;margin-bottom: 5px;"><b>Niveau : Confirmé</b></span>
                    <p>PHP est un langage de programmation qui a été mis au point en 1994 par Rasmus Lerdorf. C’est un langage interprété (Déf) (un langage de script) exécuté du côté serveur et non du côté client Ce qui le différencie des autres langages
                        web c’est qu’il...</p>
                    <a routerLink="/competences/php" class="read-more-btn">Voir plus<i
                            class="ri-arrow-right-s-line"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-content"></i>
                    </div>
                    <h3>Conception de sites Web</h3>
                    <span style="color:#c9ab81;margin-bottom: 5px;"><b>Niveau : Confirmé</b></span>
                    <p>Aujourd’hui un grand nombre d’entreprises ou de particuliers confectionnent leurs propres sites web. Il permet à son créateur de mettre en avant ses services, ses produits ou tout simplement se présenter. La conception d’un site web
                        peut se traduire...</p>
                    <a routerLink="/competences/sites-web" class="read-more-btn">Voir plus<i
                            class="ri-arrow-right-s-line"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-education"></i>
                    </div>
                    <h3>Git</h3>
                    <span style="color:#c9ab81;margin-bottom: 5px;"><b>Niveau : Initié</b></span>
                    <p>Git est un logiciel de gestion de versions gratuit et open source (Déf). Créé par Linus Torvalds en 2005, il est utilisé par plus de 15 millions de personnes. Git aide à analyser plus facilement les modifications et les contributions
                        apportées à du code collaboratif...</p>
                    <a routerLink="/competences/git" class="read-more-btn">Voir plus<i
                            class="ri-arrow-right-s-line"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="services-area pt-120 pb-90 bg-0f1d22">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Compétences</span>
            <h2>Mes compétences humaines</h2>
        </div>

        <div class="row">

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-email"></i>
                    </div>
                    <h3>Habiletés en communication orale</h3>
                    <span style="color:#c9ab81;margin-bottom: 5px;"><b>Niveau : Confirmé</b></span>
                    <p>Une habilité en communication orale se traduit par le fait de bien d’avoir s’exprimer de manière aisée tout en adoptant son discours suivant son interlocuteur. Le niveau de connaissance de son interlocuteur peut varier. Il est donc
                        important de...</p>
                    <a routerLink="/competences/communication" class="read-more-btn">Voir plus<i
                            class="ri-arrow-right-s-line"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-team"></i>
                    </div>
                    <h3>Organisation et animation de réunion</h3>
                    <span style="color:#c9ab81;margin-bottom: 5px;"><b>Niveau : Confirmé</b></span>
                    <p>Une réunion est un espace spatial et temporel dans lequel s'échangent des flux d'informations entre différents types d'acteurs pour aborder une ou plusieurs problématiques qui concernent une entité. Il existe plusieurs types de réunion
                        suivant...
                    </p>
                    <a routerLink="/competences/reunion" class="read-more-btn">Voir plus<i
                            class="ri-arrow-right-s-line"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-team"></i>
                    </div>
                    <h3>L’esprit d’équipe</h3>
                    <span style="color:#c9ab81;margin-bottom: 5px;"><b>Niveau : Initié</b></span>
                    <p>L’esprit d’équipe traduit la capacité à travailler en collaboration avec plusieurs personnes sur une même action ou projet. Chaque membre se voit attribuer des taches qui correspondent à ses compétences et à ses connaissances. La réussite...
                    </p>
                    <a routerLink="/competences/esprit-equipe" class="read-more-btn">Voir plus<i
                            class="ri-arrow-right-s-line"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-content"></i>
                    </div>
                    <h3>Gestion du temps</h3>
                    <span style="color:#c9ab81;margin-bottom: 5px;"><b>Niveau : Initié</b></span>
                    <p>Le temps est une notion élastique, elle varie d’une personne à une autre. Si la durée d’un projet est déterminée par rapport à la date de livraison, sa durée peut néanmoins varier en fonction des taches qui a été effectué. C’est pourquoi
                        une gestion du...</p>
                    <a routerLink="/competences/gestion-temps" class="read-more-btn">Voir plus<i
                            class="ri-arrow-right-s-line"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-education"></i>
                    </div>
                    <h3>Rédaction de documents utilisateurs</h3>
                    <span style="color:#c9ab81;margin-bottom: 5px;"><b>Niveau : Initié</b></span>
                    <p>Lors de l'utilisation d'outils numériques, la documentation utilisateur doit faciliter l'utilisation des solutions applicatives et permettre aux utilisateurs cibles de s'habituer aux fonctionnalités fournies pour atteindre des objectifs
                        spécifiques...
                    </p>
                    <a routerLink="/competences/doc-utilisateur" class="read-more-btn">Voir plus<i
                            class="ri-arrow-right-s-line"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio" class="works-area pt-120 pb-90">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Réalisations</span>
            <h2>Mes réalisations</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="single-works-box">
                    <div class="works-image" mat-raised-button matTooltip="La société AgenceMD avait un besoin, concurrencer efficacement ses concurrents et pouvoir se démarquer dans son activité. C’est pour cela qu’elle a décidé de rénover son outil le plus important, l’outil de comptage BTOB. Un comptage sur des sociétés peut se traduire par le fait qu’un client envoie une liste de critères afin de trouver des sociétés qui correspondent. Cela permettra au client de cibler les sociétés qu’il souhaite pour communiquer."
                        matTooltipClass="realisation">
                        <img src="assets/img/works/img1.jpg" alt="image">
                        <div class="overlay"></div>
                        <a routerLink="/realisations/comptage-btob" class="link-btn"></a>
                    </div>

                    <div class="works-content">
                        <h3><a routerLink="/realisations/comptage-btob">Comptage BTOB</a></h3>
                        <ul>
                            <li><a href="/competences/base-de-donnees">Modélisation de base de données</a></li>
                            <li><a href="/competences/php">PHP</a></li>
                            <li><a href="/competences/framework">Utilisation de framework</a></li>
                            <li><a href="/competences/gestion-temps">Gestion du temps</a></li>
                            <li><a href="/competences/git">Git</a></li>
                            <li><a href="/competences/sites-web">Conception de sites Web</a></li>
                            <li><a href="/competences/reunion">Organisation et animation de réunion</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="single-works-box">
                    <div class="works-image" mat-raised-button matTooltip="Le projet se nomme « E-pop », c’est une application web développée en PHP et Javascript (lien vers la compétence). Les données sont stockées dans une base de données MySQL. L’application a pour but de stocker et gérer des mouvements de danse de hip-hop. En plus de ça les utilisateurs pourront créer des “troupes” (groupe de danseur) dans le but d’ajouter des chorégraphies visibles pour les membres du groupe. Un administrateur aura la possibilité gérer l’application en changeant plusieurs éléments comme par exemple rajouter des mouvements de danses ou des chorégraphies."
                        matTooltipClass="realisation">
                        <img src="assets/img/works/img2.png" alt="image">
                        <div class="overlay"></div>
                        <a routerLink="/realisations/e-pop" class="link-btn"></a>
                    </div>

                    <div class="works-content">
                        <h3><a routerLink="/realisations/e-pop">E-pop</a></h3>
                        <ul>
                            <li><a href="/competences/php">PHP</a></li>
                            <li><a href="/competences/esprit-equipe">L’esprit d’équipe</a></li>
                            <li><a href="/competences/framework">Utilisation de framework</a></li>
                            <li><a href="/competences/doc-utilisateur">Rédaction de documents utilisateurs</a></li>
                            <li><a href="/competences/communication">Habiletés en communication orale</a></li>
                            <li><a href="/competences/reunion">Organisation et animation de réunion</a></li>
                            <li><a href="/competences/sites-web">Conception de sites Web</a></li>
                            <li><a href="/competences/git">Git</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-works-box">
                    <div class="works-image" mat-raised-button matTooltip="Bud’jet est un projet de formation humaine réalisé lors de mon semestre 4 avec six de mes camarades. Le but de ce projet était de se déplacer dans différentes villes de notre choix afin d’établir un réseau de contact professionnel pour préparer un futur stage. Pour réaliser ce projet, nous avons organisé un vide grenier à Tercis-les-Bains le 15 Février 2020."
                        matTooltipClass="realisation">
                        <img src="assets/img/works/img3.jpg" alt="image">
                        <div class="overlay"></div>
                        <a routerLink="/realisations/bud-jet" class="link-btn"></a>
                    </div>

                    <div class="works-content">
                        <h3><a routerLink="/realisations/bud-jet">Bud'jet</a></h3>
                        <ul>
                            <li><a href="/competences/esprit-equipe">L’esprit d’équipe</a></li>
                            <li><a href="/competences/communication">Habiletés en communication orale</a></li>
                            <li><a href="/competences/gestion-temps">Gestion du temps</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-works-box">
                    <div class="works-image" mat-raised-button matTooltip="FAST, pour Former. Aider. Soutenir. Transmettre, est un projet de formation humaine que j’ai réalisé au 3eme semestre au groupe AEN. Il a été réalisé en collaboration avec deux de mes camarades, Thibaut Binard et Victor Cardoso. L’objectif de ce semestre était d’organiser et d’animer une formation a un groupe de personne néophyte à l’informatique. Le projet FAST a été commandité par l’ADMR des Landes (Déf de l’admr) avec Mme Laurence AROTCARENA, Coordinatrice de l’association. Le but du projet est de former les travailleuses sociales à assimiler leurs nouvelles méthodes de travail informatique. Pour ce faire, deux demi-journées de formation avec 24 personnes ont été mises en place pour leur apprendre à utiliser l’outil Google Drive."
                        matTooltipClass="realisation">
                        <img src="assets/img/works/img4.jpg" alt="image">
                        <div class="overlay"></div>
                        <a routerLink="/realisations/fast" class="link-btn"></a>
                    </div>

                    <div class="works-content">
                        <h3><a routerLink="/realisations/fast">FAST</a></h3>
                        <ul>
                            <li><a href="/competences/esprit-equipe">L’esprit d’équipe</a></li>
                            <li><a href="/competences/communication">Habiletés en communication orale</a></li>
                            <li><a href="/competences/gestion-temps">Gestion du temps</a></li>
                            <li><a href="/competences/doc-utilisateur">Rédaction de documents utilisateurs</a></li>
                            <li><a href="/competences/reunion">Organisation et animation de réunion</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-works-box">
                    <div class="works-image" mat-raised-button matTooltip="Maestro est un projet que j’ai réalisé au semestre 5 au sein du groupe AEN avec deux de mes camarades, Thibaut Binard et Mathieux Perie. C’est un projet informatique qui a été commandité par Daniel Rodriguez, dirigeant de l’association de musique « Locomotive » qui se situe à Bayonne. Le projet était destiné à simplifier, centraliser et organiser les différents outils de gestion que l’association utilisait jusque-là, pour la gestion des cours de musique et des concerts, en un seul outil. L’application est développée avec Java pour la partie Back-End et Angular pour la partie Front-End."
                        matTooltipClass="realisation">
                        <img src="assets/img/works/img5.jpg" alt="image">
                        <div class="overlay"></div>
                        <a routerLink="/realisations/maestro" class="link-btn"></a>
                    </div>

                    <div class="works-content">
                        <h3><a routerLink="/realisations/maestro">Maestro</a></h3>
                        <ul>
                            <li><a href="/competences/framework">Utilisation de framework</a></li>
                            <li><a href="/competences/doc-utilisateur">Rédaction de documents utilisateurs</a></li>
                            <li><a href="/competences/git">Git</a></li>
                            <li><a href="/competences/sites-web">Conception de sites Web</a></li>
                            <li><a href="/competences/base-de-donnees">Modélisation de base de données</a></li>
                            <li><a href="/competences/esprit-equipe">L’esprit d’équipe</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="contact-content jarallax" data-jarallax='{"speed": 0.3}'>
                    <div class="d-table">
                        <div class="d-table-cell">
                            <div class="section-title">
                                <span class="sub-title">Contact</span>
                                <h2>N'hesitez pas à me contacter</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="contact-form lr-padding bg-0f1d22">
                    <form id="contactForm">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Entrez votre nom">
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Entrez votre e-mail">
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="5" placeholder="Entrez votre message"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="default-btn" (click)="sendMail()">Envoyer le message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-area">
    <div class="container">
        <div class="footer-content">
            <div class="logo">
                <a routerLink="/home-seven">
                    <img src="assets/img/logo.png" alt="image">
                </a>
            </div>

            <div class="footer-contact-info">
                <ul>
                    <li><i class="ri-map-pin-line"></i> <a href="#" target="_blank">35 Rue de Marseille, 44800 Saint
                            Herblain</a></li>
                    <li style="padding-right: 0;"><i class="ri-phone-line"></i> <a href="tel:+33778245715">07 78 24 57
                            15</a></li>
                    <li style="padding-left: 35px;"><i class="ri-mail-line"></i> <a href="mailto:kevinbrau.pro@gmail.com">kevinbrau.pro@gmail.com</a></li>
                </ul>
            </div>

            <ul class="social">
                <li><a href="https://www.linkedin.com/in/kevin-brau-899a2617a/" target="_blank">Linkedin</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom-area">
        <div class="container">
            <p>Copyright <i class="ri-copyright-line"></i>2021 Placid. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
        </div>

        <div class="line"></div>
    </div>
</footer>