<!-- Start Main Container Area -->
<div class="main-container">
    <aside id="placid-aside" class="placid-aside bg-0f1d22">
        <div class="logo">
            <a class="navbar-brand" routerLink="/home">
                <span style="color:aliceblue">Kevin</span>
                <span style="color:#c9ab81"> Brau</span>
            </a>

        </div>

        <div class="d-table">
            <div class="d-table-cell">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/home">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#about">A propos de moi</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#services">Compétences</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#portfolio">Réalisation</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="aside-footer">
            <a href="/home#contact" class="default-btn">Me contacter</a>
        </div>

        <div class="line"></div>
    </aside>

    <div id="main-content" class="main-content">

        <div class="responsive-burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <section class="blog-details-area ptb-90 bg-0f1d22">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="blog-details-desc">
                            <div class="article-image">
                                <img style="filter: brightness(0.9);" src="assets/img/competence/Formation-elaboration-document-unique.jpg" alt="image">
                            </div>

                            <div class="article-content">
                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <i class="ri-folder-2-line"></i>
                                            <span>Compétence</span>
                                            <a href="/home#services">Humaine</a>
                                        </li>
                                        <li>
                                            <i class="ri-group-2-line"></i>
                                            <span>Niveau d'expertise</span>
                                            <a>Initié</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                                <h2 style="color:white">Rédaction de documents utilisateurs</h2>

                                <p>Lors de l'utilisation d'outils numériques, la documentation utilisateur doit faciliter l'utilisation des solutions applicatives et permettre aux utilisateurs cibles de s'habituer aux fonctionnalités fournies pour atteindre
                                    des objectifs spécifiques.
                                </p>
                                <p>Des manuels d'utilisation, une aide en ligne, des didacticiels et des guides d'utilisation sont fournis lorsqu’il s’agit d’aide à la prise en main de différents types de logiciels et d'applications. Les documents de type
                                    « manuel d’utilisateur » donnent un aperçu complet des possibilités fonctionnel d’un outil.</p>
                                <p>Dans le monde professionnel, de nombreuses applications plus ou moins complexes voient le jour. C’est pourquoi il est important de fournir une documentation sur son produit pour démontrer à l’utilisateur toutes les fonctionnalités
                                    disponibles et comment les utiliser.</p>

                                <p>Aujourd’hui de nombreux développeurs ne se rendent pas compte de l’importance d’une documentation utilisateur. Si un utilisateur ne comprend pas l’application, il va simplement s’en aller. C’est pourquoi il faut accompagner
                                    l’utilisateur dans sa compréhension par le biais de documentation.</p>

                                <h3>Mise en oeuvre</h3>
                                <p>J’ai eu l’opportunité de mettre en œuvre cette compétence à de multiples occasions. Notamment lors du projet Géocible. C’est une application développée lors de mon semestre 5 qui permet de faciliter l’organisation et la
                                    gestion de livraison dans de grandes exploitations, où j’avais pour mission d’écrire la documentation utilisateur. La difficulté d’écrire cette documentation était de la rédiger en prenant en compte toutes les fonctionnalités
                                    de l’application. En effet, l’application est composée de cinq parties et dispose d’une multitude de cartes pour les livreurs et clients. Pour écrire cette documentation, j’ai tout d’abord commencé à répertorier chaque
                                    fonctionnalité par pages. Cela m’a permis de constituer en quelque sorte la table des matières du document.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/competence/tabledesmatiere.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple de la table des matières</i></small>
                                </div>
                                <p>La deuxième difficulté à laquelle j’ai fait face était le fait que je ne connaissais toutes les fonctionnalités sur le bout des doigts. J’ai alors dû me concerter avec chaque membre de mon équipe qui était composée de 6
                                    membres. La partie la plus dense était la page d’accueil. Étant le point central de l’application, elle dispose d’une multitude de fonctionnalités. J’ai alors demandé à <b>Guillaume</b> (Membre de projet) de me m’expliquer
                                    en détail cette partie pour que je puisse la retranscrire dans la documentation utilisateur.</p>
                                <p>Cette documentation utilisateur a permis au commanditaire du projet de présenter l’application à ses collègues de travail et à démontrer toutes les fonctionnalités dont ils allaient disposer pour cette application.</p>

                                <h3>Maitrise</h3>
                                <p>Pour la rédaction de document utilisateur j’estime être <u>initié</u>. J’ai pu en effet mettre en œuvre cette compétence à nombreuses occasions mais je pense qu’il me reste une marge de progression importante à avoir. Pour
                                    rédiger la documentation utilisateur, j’ai la plupart du temps utilisé <b>Word</b> pour une rédaction simple. Mais je sais qu’il existe aujourd’hui des outils simplifiant grandement la rédaction de documents destinés
                                    aux utilisateurs. On peut par exemple citer l’outil « <b>Help+Manual</b> » qui propose l’automatisation de création d’aide en ligne, de manuel utilisateur et de base de connaissance.
                                </p>
                                <p>La rédaction de document utilisateur peut grandement varier suivant le projet. Il faut la plupart du temps s’adapter aux fonctionnalités disponibles pour pouvoir les retranscrire aux utilisateurs.</p>
                                <p>Il est important pour un expert en ingénierie de savoir rédiger une documentation utilisateur. En effet, les entreprises d’aujourd’hui demandent à ce que les documents utilisateurs soient rédigés. Cela permet de partager
                                    les connaissances des applications et d’éviter que l’information soit détenue par un seul et même expert. Un expert en ingénierie se doit de bien rédiger un manuel utilisateur puisqu’il permet de partager la connaissance
                                    globale d’une application et de rendre les évolutions possibles.
                                </p>
                                <p>Avant de rédiger une documentation destinée aux utilisateurs, il faut s’assurer que la documentation soit adaptée à la cible et qu’elle ne soit pas trop volumineuse pour rendre sa lecture plus agréable.</p>
                                <p>Par conséquent, je conseille de bien définir sa cible avant rédaction, de réaliser une documentation concise et pertinente et de la rendre facilement accessible.</p>

                                <h3>Évolution compétence</h3>
                                <p>Je souhaite développer cette compétence dans mon entreprise actuelle en rédigeant la documentation de l’application sur laquelle je travaille depuis le début de mon alternance. Ça serait un réel challenge pour moi puisque
                                    l’application est basée sur la maintenance des avions d’<b>Air-France</b>. Je vais donc devoir adopter un vocabulaire technique puisque la documentation sera ciblée pour les techniciens de maintenance.
                                </p>
                                <p>Pour mener à bien mon objectif, je compte m’auto-former par le biais de sites spécialisés dans la rédaction de documentation utilisateur comme par exemple le site <u><a href="https://www.techsmith.fr/blog/creer-le-guide-d-utilisation-parfait/">techsmith.fr</a></u>.</p>
                            </div>

                            <div class="article-footer">
                                <div class="article-tags">
                                    <p style="font-size: 19px;">Réalisations associées</p>

                                    <a routerLink="/realisations/comptage-btob" style="color: #c9ab81;">Comptage BTOB</a> /
                                    <a routerLink="/realisations/fast" style="color: #c9ab81;">FAST</a> /
                                    <a routerLink="/realisations/maestro" style="color: #c9ab81;">MAESTRO</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-area">
            <div class="container">
                <div class="footer-content">
                    <div class="logo">
                        <a routerLink="/home-seven">
                            <img src="assets/img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="footer-contact-info">
                        <ul>
                            <li><i class="ri-map-pin-line"></i> <a href="#" target="_blank">35 Rue de Marseille, 44800
                                    Saint
                                    Herblain</a></li>
                            <li style="padding-right: 0;"><i class="ri-phone-line"></i> <a href="tel:+33778245715">07 78
                                    24 57
                                    15</a></li>
                            <li style="padding-left: 35px;"><i class="ri-mail-line"></i> <a href="mailto:kevinbrau.pro@gmail.com">kevinbrau.pro@gmail.com</a></li>
                        </ul>
                    </div>

                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/kevin-brau-899a2617a/" target="_blank">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <p>Copyright <i class="ri-copyright-line"></i>2021 Placid. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>

                <div class="line"></div>
            </div>
        </footer>
    </div>
</div>
<!-- End Main Container Area -->