<!-- Start Main Container Area -->
<div class="main-container">
    <aside id="placid-aside" class="placid-aside bg-0f1d22">
        <div class="logo">
            <a class="navbar-brand" routerLink="/home">
                <span style="color:aliceblue">Kevin</span>
                <span style="color:#c9ab81"> Brau</span>
            </a>

        </div>

        <div class="d-table">
            <div class="d-table-cell">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/home">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#about">A propos de moi</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#services">Compétences</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#portfolio">Réalisations</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="aside-footer">
            <a href="/home#contact" class="default-btn">Me contacter</a>
        </div>

        <div class="line"></div>
    </aside>

    <div id="main-content" class="main-content">

        <div class="responsive-burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <section class="blog-details-area ptb-90 bg-0f1d22">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="blog-details-desc">
                            <div class="article-image">
                                <img style="filter: brightness(0.9);" src="assets/img/competence/Depositphotos_83874728_xl-2015-800x500.jpg" alt="image">
                            </div>

                            <div class="article-content">
                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <i class="ri-folder-2-line"></i>
                                            <span>Compétence</span>
                                            <a href="/home#services">Technique</a>
                                        </li>
                                        <li>
                                            <i class="ri-group-2-line"></i>
                                            <span>Niveau d'expertise</span>
                                            <a>Confirmé</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                                <h2 style="color:white">Conception de site web</h2>

                                <p>Aujourd’hui un grand nombre d’entreprises ou de particuliers confectionnent leurs propres sites web. Il permet à son créateur de mettre en avant ses services, ses produits ou tout simplement se présenter. La conception
                                    d’un site web peut se traduire par le fait de créer de toute pièce une interface Web par le biais de trois technologies, HTML, CSS et Javascript. Chacun ici a son rôle à jouer dans la création d’un site web :
                                </p>
                                <ul class="features-list">
                                    <li><i class="ri-check-double-fill"></i> L’HTML pour <b>Hypertyext Markup Language</b> est un langage de balisage qui permet de rendre l’affichage d’une page web réalisable</li>
                                    <li><i class="ri-check-double-fill"></i> CSS pour <b>Cascading Style Sheets</b> met en forme les pages web en changeant par exemple la couleur du texte ou en modifiant la position d’un bouton</li>
                                    <li><i class="ri-check-double-fill"></i> JS pour <b>Javascript</b> donne la possibilité à une page web d’avoir une logique</li>
                                </ul>

                                <p>La notion de « branche » est importante avec Git. Une branche peut être traduite par une copie du projet pour développer et tester de nouvelles fonctionnalités sans impacter le projet de base. Cette branche peut ensuite
                                    être « merge » (fusionné) avec la branche principale « Main » du projet pour y apporter ces modifications.
                                </p>
                                <p>Cette compétence est très souvent utilisée dans le monde professionnel. Elle permet à des entreprises de se démarquer de leurs concurrents en proposant des sites web adaptés à leurs besoins. En plus de ça, la conception
                                    de site web peut répondre à de nombreux besoins pour des solutions utilisées en interne dans les entreprises. Il est important de noter qu’il existe aujourd’hui des outils permettant de faciliter la création de site
                                    web basique comme WordPress, Wix ou encore Joomla. Ces outils ne sont néanmoins pas conseillés pour la conception de site web complexe.</p>

                                <p>Je travaille aujourd’hui à <b>Capgemini en collaboration avec Air-France</b> en tant qu’alternant et je constate que sur mon périmètre, une multitude de sites web voient le jour dans le but d’améliorer les conditions de
                                    travail des techniciens Air-France.</p>
                                <h3>Mise en oeuvre</h3>
                                <p>Lors de mon premier semestre à IN’TECH, j’ai eu l’opportunité de découvrir les langages HTML, CSS et Javascript pour le développement de mon tout premier projet, <b>KeepClean</b>. KeepClean est un jeu vidéo en 2D qui a
                                    pour but de sensibiliser les joueurs sur le tri des déchets.</p>

                                <div class="services-details-image">
                                    <img src="assets/img/competence/keepclean.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple du site web KeepClean</i></small>
                                </div>
                                <p>Pour le développement du projet je devais créer la collision de la poubelle avec les déchets qui tombaient. Pour ce faire je devais d’abord comprendre comment l’axe X de la poubelle et l’axe Y des déchets fonctionnaient
                                    pour commencer à développer la collision. Une fois compris j’ai alors codé en <b>Javascript</b> la collision des objets pour ensuite incrémenter le score du joueur.</p>
                                <p>Je suis aussi intervenu sur la création du choix des niveaux avec une carte interactive. Cette partie demandait de bien comprendre comment l’<b>HTML</b> et le <b>JavaScript</b> fonctionnaient ensemble. Je devais en effet
                                    créer une carte en SVG pour la rendre interactive. L’ajout de Javascript a permis de rendre le clic possible sur la carte avec un chargement d’un niveau.</p>

                                <div class="services-details-image">
                                    <img src="assets/img/competence/keepclean2.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple de la carte interactive</i></small>
                                </div>
                                <p>Grâce à la rapidité de la confection du site web, le jeu a pu voir le jour et a été présenté pendant la fête du Jeu à Dax. En plus de ça nous avons eu la chance d’être interviewé et de bénéficier d’un article de presse.</p>

                                <div class="services-details-image">
                                    <div style="width: 100%;
                                    justify-content: center;
                                    display: flex;">
                                        <img src="assets/img/competence/keepclean3.jpg" alt="image">
                                    </div>
                                    <small style="color:white"><br><i style="font-size: 13px;">Article de presse Sud-Ouest</i></small>
                                </div>
                                <h3>Maitrise</h3>
                                <p>Pour la conception de site web j’estime être <u>confirmé</u>.
                                </p>
                                <p>Pour moi cette compétence est très importante pour ce qui est du métier de développeur. De nombreuses entreprises sont demandeuses de cette compétence pour les accompagner dans la création de sites web personnalisés qui
                                    peuvent être souvent complexes. C’est pour cela que l’ingénieur se doit d’être capable de bien maitriser la conception d’un site web. </p>
                                <p>Cette compétence nous apprend la base du développement par le biais de ces langages qui sont HTML, CSS et Javascript. J’ai pu apprendre rapidement comment confectionner un site web puisque j’ai eu l’opportunité de pratiquer
                                    les trois langages sur tous mes projets jusqu’à maintenant. Néanmoins, il me reste une certaine marge de progression dans le domaine du design et de l’ergonomie d’un site web. L’utilisation de cette compétence peut
                                    varier suivant la demande. Par exemple la création d’un site vitrine va souvent demander l’utilisation d’outil simple comme WordPress mais pour la création d’un site web complexe il sera préférable de développer via
                                    HTML, CSS et Javascript.</p>
                                <p>Avec l’expérience que j’ai pu acquérir, je conseille à autrui de commencer par apprendre les bases de l’HTML, CSS et Javascript. Elles sont pour moi nécessaire pour confectionner un site web. Pour ce faire de nombreux sites
                                    sont à disposition pour apprendre facilement. On peut citer <u><a href="https://www.w3schools.com/">W3Schools</a></u> pour ses tutoriels simples et divers ou encore <u><a href="https://openclassrooms.com/fr/">Open Class Rooms</a></u>                                    qui lui propose des formations en français riches en contenu.</p>
                                <h3>Évolution compétence</h3>
                                <p>Cette compétence me suit au quotidien dans mon travail et je souhaite l’améliorer pour ce qui est de l’aspect design et ergonomique. En effet il m’est souvent demandé de créer des pages web ergonomique pour les utilisateurs.
                                    Pour ce faire je compte m’inscrire à la formation de « M2iFormation » portant sur l’ergonomie des sites web.
                                </p>
                                <p>Lien de la formation : <u><a href="https://www.m2iformation.fr/formation-ergonomie-des-sites-web/WEB-ERGO/">M2iformation</a></u></p>
                                <p>Cette formation va me permettre :</p>
                                <ul class="features-list">
                                    <li><i class="ri-check-double-fill"></i> D’identifier les enjeux et les critères de l'ergonomie d'interface pour le Web</li>
                                    <li><i class="ri-check-double-fill"></i> D’appliquer l'ergonomie adapté à chaque utilisateur</li>
                                    <li><i class="ri-check-double-fill"></i> D’évaluer la qualité de vos interfaces.</li>
                                </ul>
                            </div>

                            <div class="article-footer">
                                <div class="article-tags">
                                    <p style="font-size: 19px;">Réalisations associées</p>

                                    <a routerLink="/realisations/comptage-btob" style="color: #c9ab81;">Comptage BTOB</a> /
                                    <a routerLink="/realisations/e-pop" style="color: #c9ab81;">E-pop</a> /
                                    <a routerLink="/realisations/maestro" style="color: #c9ab81;">Maestro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-area">
            <div class="container">
                <div class="footer-content">
                    <div class="logo">
                        <a routerLink="/home-seven">
                            <img src="assets/img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="footer-contact-info">
                        <ul>
                            <li><i class="ri-map-pin-line"></i> <a href="#" target="_blank">35 Rue de Marseille, 44800
                                    Saint
                                    Herblain</a></li>
                            <li style="padding-right: 0;"><i class="ri-phone-line"></i> <a href="tel:+33778245715">07 78
                                    24 57
                                    15</a></li>
                            <li style="padding-left: 35px;"><i class="ri-mail-line"></i> <a href="mailto:kevinbrau.pro@gmail.com">kevinbrau.pro@gmail.com</a></li>
                        </ul>
                    </div>

                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/kevin-brau-899a2617a/" target="_blank">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <p>Copyright <i class="ri-copyright-line"></i>2021 Placid. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>

                <div class="line"></div>
            </div>
        </footer>
    </div>
</div>
<!-- End Main Container Area -->