<!-- Start Main Container Area -->
<div class="main-container">
    <aside id="placid-aside" class="placid-aside bg-0f1d22">
        <div class="logo">
            <a class="navbar-brand" routerLink="/home">
                <span style="color:aliceblue">Kevin</span>
                <span style="color:#c9ab81"> Brau</span>
            </a>

        </div>

        <div class="d-table">
            <div class="d-table-cell">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/home">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#about">A propos de moi</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#services">Compétences</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#portfolio">Réalisations</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="aside-footer">
            <a href="/home#contact" class="default-btn">Me contacter</a>
        </div>

        <div class="line"></div>
    </aside>

    <div id="main-content" class="main-content">

        <div class="responsive-burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <section class="blog-details-area ptb-90 bg-0f1d22">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="blog-details-desc">
                            <div class="article-image" style="display: flex;
                            justify-content: center;background-color: #9b96963d;">
                                <img style="width: 58%;" src="assets/img/works/img5.jpg" alt="image">
                            </div>

                            <div class="article-content">

                                <h2 style="color:white">Maestro</h2>

                                <p>Maestro est un projet que j’ai réalisé au semestre 5 au <b>au groupe AEN</b> avec deux de mes camarades, <b>Thibaut Binard</b> et <b>Mathieu Perie</b>. C’est un projet informatique qui a été commandité par Daniel Rodriguez,
                                    dirigeant de l’association de musique « Locomotive » qui se situe à <b>Bayonne</b>. Le projet était destiné à simplifier, centraliser et organiser les différents outils de gestion que l’association utilisait jusque-là,
                                    pour la gestion des cours de musique et des concerts, en un seul outil. L’application est développée avec <b>Java</b> pour la partie <u>Back-End</u> et <b>Angular</b> pour la partie <u>Front-End</u>.
                                </p>
                                <div class="services-details-image" style="background-color: aliceblue;">
                                    <img src="assets/img/realisation/maestro1.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;"></i></small>
                                </div>

                                <h3>Contexte</h3>

                                <p>Les outils qu’utilisait l’association jusque-là, posaient des problèmes comme la lourdeur d’utilisation et la fragilité du système. En effet la manipulation de gros documents Excel par de nombreuses personnes dont les droits
                                    d’accès ne correspondent pas aux taches qu’ils ont à réaliser sur le document entraîne des pertes ou des altérations de données.
                                </p>
                                <p>Auparavant l’association « <u>Locomotive</u> » utilisait deux outils, principalement Microsoft Excel mis en collaboration avec Google Drive ainsi que « <u>Primi’Web</u> », une application en ligne pour la gestion d’association.
                                </p>
                                <p>La mission que nous avions à réaliser pour ce projet était de développer une application web permettant la gestion de multiples services au sein de l’association de musique « Locomotive ».</p>
                                <p>Les objectifs de ce projet se retrouvent sous forme de modules à développer pour l’application. Il est en existe 5, <b>la création d’outil de gestion de l’emploi du temps des cours de l’école de musique</b>, <b>créer l’outil de planification
                                    de réservation de salle</b>, <b>Créer les fiches des adhérents</b>, <b>Créer un système d’emailing</b> et <b>Mettre en place le système de gestion des adhérents</b>.</p>
                                <p>Pour créer ces objectifs nous avons utilisé la <u><a href="https://fr.wikipedia.org/wiki/Objectifs_et_indicateurs_SMART">méthode SMART</a></u>, ce qui nous a permis d’avoir une vision claire.</p>
                                <p>Il existe plusieurs risques pour la réalisation de ce projet. Étant dans un contexte d’épidémie mondiale suite au COVID-19, nous ne pouvions pas réaliser de rendez-vous physique et donc aucune opportunité pour rencontrer
                                    les membres de l’association, les utilisateurs finaux, pour avoir des informations sur leurs utilisations des outils existants.</p>
                                <p>Nous devions migrer les utilisateurs de « <u>Primi’Web</u> » vers notre nouvelle application. Le risque ici serait d’oublier des utilisateurs lors de la migration et causerait des écarts sur l’application.</p>
                                <p>Comportant des informations personnelles sur les membres de l’association, l’application doit être sécurisée à tout prix.</p>

                                <h3>Rédaction de documents</h3>
                                <p>Avant de démarrer les développements, nous avons rédigé une documentation de spécification du projet qui nous a permis d’anticiper les éventuelles contraintes du projet ainsi que des technologies à adopter pour le développement.
                                    Les parties <b>contexte initial</b> du projet, <b>mission</b> et <b>objectifs</b> ont aussi était décrites pour être destinées aux futurs utilisateurs pour qu’ils puissent avoir la vision que nous avions sur le projet.</p>
                                <p>Sur cette documentation, je décris avec l’aide de mes camarades comment nous allons développer l’application en prenant en compte les demandes du commanditaire.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/maestro2.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;"></i></small>
                                </div>
                                <p>On peut voir ici un exemple des actions que nous allions réaliser pour développer la fonctionnalité du système de connexion ainsi que de l’interface de gestion de planification.</p>
                                <p>Cette partie nous a permis de garder un œil sur toutes les fonctionnalités à développer pour créer les modules de l’application.</p>
                                <p>En plus de ça, d’autres documents ont été rédigés pour la compréhension du projet.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/maestro3.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;"></i></small>
                                </div>


                                <h3>Mise en place des routes Guards</h3>
                                <p>Pour la réalisation de ce projet, j’étais chargé de développer la partie « Front » de l’application, la partie que les utilisateurs finaux voient. Les utilisateurs ont donc accès sur l’outil à différentes fonctionnalités
                                    comme par exemple ajouter, modifier ou supprimer une activité ou encore gérer les membres de l’association en ayant accès à leurs informations personnelles. Il était donc important de mettre en place un système de sécurité
                                    sur l’application. Une gestion de sécurité a été mise en place dans le <u>Back-End</u> de l’application mais il nous fallait aussi coter <u>Front-End</u>.
                                </p>
                                <p>J’ai donc mis en place un <u>Guard</u>. Un Guard permet de contrôler les autorisations d’accès à une page en regardant si la personne est bien connectée et a les bons droits pour accéder à des parties de l’application.</p>
                                <p>Pour ce faire, j’ai créé un service d’authentification qui permet de vérifier si un utilisateur est bel et bien connecté à l’application en vérifiant qu’il a son jeton de connexion. Un jeton de connexion est envoyé par
                                    le <u>Back-end</u> si l’utilisateur s’est bien connecté. Cela permet de vérifier que l’utilisateur n’est pas un utilisateur frauduleux.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/maestro4.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple du service Guard</i></small>
                                </div>
                                <p>Ce service est ensuite utilisé dans la partie « <u>Routing</u> » de l’application. Cette partie permet de gérer l’accès aux différentes pages de l’application.</p>


                                <h3>Mise en place de Git</h3>
                                <p>Pour créer ce projet, nous avons décidé de mettre en place un dépôt Git qui nous a permis d’enregistrer les versions de notre code et d’y accéder depuis n’importe où. Ayant déjà travaillé avec cet outil sur de nombreux
                                    projets, j’ai décidé de mettre en place plusieurs branches. Une branche de développement pour chaque module créé. Cela permet de ne pas mélanger le code sur une seule et même branche et d’envoyer le code sous forme
                                    de package en production. Grâce à ça, le commanditaire a pu tester les modules à l’unité et nous faire ses retours.</p>
                                <p>La formation commençait avec une présentation de notre équipe ainsi que du sommaire.</p>

                                <h3>Changement dans la base de données</h3>
                                <p>Pour construire cette nouvelle application, nous devions garder les informations déjà existantes de l’application « <u>Primi’Web</u> » comme par exemple les informations concernant les adhérents de l’association. Pour ce
                                    faire, j’ai dû faire quelques changements dans leur base de données existante.</p>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/maestro5.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple de l'ancienne base de données</i></small>
                                </div>
                                <br/>
                                <div class="services-details-image">
                                    <img src="assets/img/realisation/maestro6.png" alt="image">
                                    <small style="color:white"><br><i style="font-size: 13px;">Exemple de la nouvelle base de données</i></small>
                                </div>
                                <p>Il était important de faire évoluer le schéma de base de données pour faire correspondre aux nouvelles capacités de l’application. Un adhérant est lié à nombreuses fonctionnalités. C’est pour cela qu’un grand nombre de
                                    tables lui sont rattachés.</p>


                                <h3>Résultat</h3>
                                <p>Le sujet de ce projet m’a beaucoup plus, c’est ce qui m’a motivé à donner le meilleur de moi-même pour finaliser ce projet.
                                </p>
                                <p>Après avoir finalisé le projet, l’association « <u>Locomotive</u> » nous a proposé de venir dans leur local spécialement ouvert pour l’occasion afin que nous puissions faire une démonstration de l’application devant les
                                    membres de l’association. Suite à ça, le commanditaire nous a demandé de développer une deuxième partie à apporter à l’application, une gestion des concerts. Mais étant donné que le semestre s’est terminé nous en avons
                                    parlé au <b>groupe AEN</b> pour qu’elle puisse reprendre ce projet.</p>

                                <h3>Mon auto critique</h3>
                                <p>Lors du développement de l’application, j’ai pu apporter mes connaissances en base de données pour la reconstruire entièrement à partir des fonctionnalités demandées par le commanditaire.</p>
                                <p>Le fait de travailler sur ce projet m’a donné la possibilité de découvrir un nouveau <b>Framework, Angular</b>. C’est un <b>Framework</b> que j’apprécie particulièrement pour sa simplicité et sa flexibilité. Il nous a permis
                                    de mettre en place des fonctionnalités de l’application rapidement ce qui aurait été plus long si nous ne l’avions pas utilisé. En plus de ça, j’ai pu apprendre à utiliser les routes Guard et découvrir leur importance
                                    puisque ça a permis d’ajouter à l’application une couche de sécurité qui permet d’éviter à des personnes malhonnêtes de se connecter à l’application. Le fait d’avoir rédigé de nombreuses documentations pour ce projet,
                                    m’a permis d’améliorer ma compétence en rédaction de document.
                                </p>
                                <p>J’ai eu la chance d’avoir l’opportunité de travailler sur ce projet sur lequel j’ai pu développer mes <b>compétences professionnelles</b>.</p>
                            </div>

                            <div class="article-footer">
                                <div class="article-tags">
                                    <p style="font-size: 19px;">Compétences associées</p>

                                    <a routerLink="/competences/framework" style="color: #c9ab81;">Utilisation de framework</a> /
                                    <a routerLink="/competences/doc-utilisateur" style="color: #c9ab81;">Rédaction de documents utilisateurs</a> /
                                    <a routerLink="/competences/git" style="color: #c9ab81;">Git</a> /
                                    <a routerLink="/competences/sites-web" style="color: #c9ab81;">Conception de sites Web</a> /
                                    <a routerLink="/competences/base-de-donnees" style="color: #c9ab81;">Modélisation de base de données</a> /
                                    <a routerLink="/competences/esprit-equipe" style="color: #c9ab81;">L’esprit d’équipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-area">
            <div class="container">
                <div class="footer-content">
                    <div class="logo">
                        <a routerLink="/home-seven">
                            <img src="assets/img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="footer-contact-info">
                        <ul>
                            <li><i class="ri-map-pin-line"></i> <a href="#" target="_blank">35 Rue de Marseille, 44800
                                    Saint
                                    Herblain</a></li>
                            <li style="padding-right: 0;"><i class="ri-phone-line"></i> <a href="tel:+33778245715">07 78
                                    24 57
                                    15</a></li>
                            <li style="padding-left: 35px;"><i class="ri-mail-line"></i> <a href="mailto:kevinbrau.pro@gmail.com">kevinbrau.pro@gmail.com</a></li>
                        </ul>
                    </div>

                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/kevin-brau-899a2617a/" target="_blank">Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <p>Copyright <i class="ri-copyright-line"></i>2021 Placid. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>

                <div class="line"></div>
            </div>
        </footer>
    </div>
</div>
<!-- End Main Container Area -->